<div class="content-wrapper container-xxl p-0 ">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body shadow ">
        <section id="basic-tabs-components">
            <div class="row match-height">
                <div class=" col-lg-12 ">
                    <!-- <core-card-snippet [snippetCode]="_snippetCodeBasicTab"> -->
                    <div class="card-body bg-white p-0 ">
                        <ul ngbNav #nav="ngbNav" class="nav-tabs tb-border mb-0">
                            <li ngbNavItem>
                                <a ngbNavLink class=" ">Approval</a>
                                <ng-template ngbNavContent>
                                    <div class="table-responsive">
                                        <div *ngIf="loading">
                                            <app-spinner></app-spinner>
                                        </div>
                                        <p-table  (onLazyLoad)="loadApprovalData($event)" [rowsPerPageOptions]="[5,10,15,20]" paginatorPosition="top" [value]="comissioningList" [lazy]="true"
                                            styleClass="p-datatable-gridlines p-datatable-striped"
                                            responsiveLayout="scroll"
                                            dataKey="comissioningId" [paginator]="true" [rows]="noOfRows"  [style]="{width:'2300px'}"
                                            [totalRecords]="totalRecords">
                                            <ng-template pTemplate="header">

                                                <tr class="bg-white">
                                                    <th scope="col" field="irf.irfRequestNo" class="text-nowrap">IRF
                                                        Request No. </th>
                                                    <th scope="col" field="comissioningCaseNo" class="text-nowrap">
                                                        Commissioning Case No. </th>
                                                    <th scope="col" field="comissioningDate">
                                                        Comissioning Created Date </th>
                                                    <th scope="col" field="requestType" class="text-nowrap">Request Type
                                                    </th>
                                                    <th scope="col" field="irf.assests.clients.clientName"
                                                        class="text-nowrap"> Client </th>
                                                
                                                    <th scope="col" field="irf.assests.typeOfCharger"
                                                        class="text-nowrap">Charger Type </th>
                                                   
                                                    <th scope="col"  field="" class="text-nowrap">Action </th>
                                                  
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-com>

                                                <tr>
                                                    <td><a routerLink="/irf-details"
                                                            class="no-st-text-b link-color">{{com.irfRequestNo}}</a>
                                                    </td>
                                                     <td> <a routerLink="/install-req-form-details"
                                                            class="no-st-text-b font-weight-bold">{{com.commissioningRequestNo}} </a> </td>
                                                    <td> {{com.commissioningCreatedDate}}
                                                    </td>
                                                    <td class="text-nowrap">{{com.requestType}}</td>
                                                    <td> {{com.client}}
                                                    </td>
                                                   
                                                    <td>
                                                        {{com.typeOfCharger}}

                                                    </td>
                                                      
                                                        <td>
                                                            <button type="button" class="btn btn-light btn-sm d-flex"
                                                                (click)="modalOpenSM2(modalSM2, com.commissioningId)" data-toggle="modal"
                                                                data-target="#modal-default"><i data-feather="check-square"
                                                                    class="mr-1"></i> Approval/Moderate
                                                            </button>
                                                        </td>
                                                </tr>


                                            </ng-template>
                                        </p-table>
                                    </div>
                                </ng-template>
                            </li>
                            <li ngbNavItem>
                                <a ngbNavLink class=" ">Assign</a>
                                <ng-template ngbNavContent>
                                    <div class="table-responsive">
                                        <div *ngIf="loading">
                                            <app-spinner></app-spinner>
                                        </div>
                                        <p-table  (onLazyLoad)="loadAssignData($event)" [rowsPerPageOptions]="[5,10,15,20]" paginatorPosition="top" [value]="comissioningList" [lazy]="true"
                                            styleClass="p-datatable-gridlines p-datatable-striped"
                                            responsiveLayout="scroll"
                                            dataKey="comissioningId" [paginator]="true" [rows]="noOfRows"  [style]="{width:'2300px'}"
                                            [totalRecords]="totalRecords">
                                            <ng-template pTemplate="header">

                                                <tr class="bg-white">
                                                    <th scope="col" field="irf.irfRequestNo" class="text-nowrap">IRF
                                                        Request No. </th>
                                                    <th scope="col" field="comissioningCaseNo" class="text-nowrap">
                                                        Comissioning Case No. </th>
                                                    <th scope="col" field="comissioningDate">
                                                        Comissioning Created Date </th>
                                                    <th scope="col" field="requestType" class="text-nowrap">Request Type
                                                    </th>
                                                    <th scope="col" field="irf.assests.clients.clientName"
                                                        class="text-nowrap"> Client </th>
                                                
                                                    <th scope="col" field="irf.assests.typeOfCharger"
                                                        class="text-nowrap">Charger Type </th>
                                                   
                                                    <th scope="col"  field="" class="text-nowrap">Action </th>
                                                   
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-com>

                                                <tr>
                                                    <td><a routerLink="/irf-details"
                                                            class="no-st-text-b link-color">{{com.irfRequestNo}}</a>
                                                    </td>
                                                     <td> <a routerLink="/install-req-form-details"
                                                            class="no-st-text-b font-weight-bold">{{com.commissioningRequestNo}} </a> </td>
                                                    <td> {{com.commissioningCreatedDate}}
                                                    </td>
                                                    <td class="text-nowrap">{{com.requestType}}</td>
                                                    <td> {{com.client}}
                                                    </td>
                                                   
                                                    <td>
                                                        {{com.typeOfCharger}}

                                                    </td>
                                                        <td>
                                                            <button type="button" class="btn btn-light btn-sm mx-1 d-flex"
                                                                (click)="modalOpenSM(modalSM, com.commissioningId)" data-toggle="modal"
                                                                data-target="#modal-default"> <i data-feather="file-text"
                                                                    class="mr-1"></i> Assign </button>
                                                        </td>
                                                       
                                                </tr>


                                            </ng-template>
                                        </p-table>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav" class=""></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Modal -->
<ng-template #modalSM let-modal>
    <div class="modal-header bg-dark" style="padding: 5px;">
        <h5 class="modal-title text-white" id="myModalLabel160">Assign Service Order</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="form-group">
            <label for="circleId">Circle:</label>
            <select (change)="getEngineerList($event)" id="cid" formControlName="circleId" class="form-control">
                <option value="">Select Circle</option>
                <option *ngFor="let circle of circleMap" [value]="circle.id" >{{circle.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="circleId">Assign To:</label>
            <select id="eid" formControlName="engineerId" class="form-control">
                <option value="">Select</option>
                <option *ngFor="let engineer of engineerMap" [value]="engineer.phone" >{{engineer.name}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger " (click)="modal.close('Accept click')">Close</button>
        <button type="button" class="btn btn-success " (click)="reassign() ; modal.close('Accept click')">Save Changes</button>
    </div>
</ng-template>
<!-- / Modal -->



<!-- Modal2 -->
<ng-template #modalSM2 let-modal>
    <div class="modal-header bg-dark" style="padding: 5px;">
        <h5 class="modal-title text-white" id="myModalLabel160">Approval For</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="row ml-0">
            <div class="col-lg-12">
                <label for="basicTextarea">Remarks</label>
                <fieldset class="form-group">
                    <textarea  (change)="approvalRemark=$event.target.value"  id="rem" class="form-control" id="basicTextarea" rows="2" placeholder="Textarea"></textarea>
                </fieldset>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Action</label>
                    <select (change)="approvalAction=$event.target.value"  id="app" class="form-control form-control-sm  model-w-s">
                        <option>Select</option>
                        <option value="Approve">Approve</option>
                        <option value="Reject">Reject</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger " (click)="modal.close('Accept click')">Close</button>
        <button type="button" class="btn btn-success " (click)="approveOrReject() ; modal.close('Accept click')">Save </button>
    </div>
</ng-template>
<!-- / Modal2 -->