<div class="slideout-content">
  <!-- Modal to add new user starts-->
  <div class="modalsd modal-slide-in sdfade reset-password-modal" id="modals-slide-in">
    <div class="modal-dialog">
      <form [formGroup]="userForm" class="add-reset-password modal-content pt-0" (ngSubmit)="submit()">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="toggleSidebar('reset-password-sidebar')">
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="userid">User Id </label>
            <input type="number" formControlName="userid" [class.is-invalid]="userForm.get('userid').errors && (userForm.get('userid').touched || userForm.get('userid').dirty)" id="basic-icon-default-userid" class="form-control dt-userid"
              placeholder="Please Enter"  name="user-userid"/>
              <span *ngIf="userForm.get('userid').errors && (userForm.get('userid').touched || userForm.get('userid').dirty)" class="invalid-form">
                <small class="form-text text-danger">This field is required !</small>
              </span>
        
          </div>
         
          <div class="form-group">
            <label class="form-label" for="password">New Password </label>
            <input type="password" formControlName="password" [class.is-invalid]="userForm.get('password').errors && (userForm.get('password').touched || userForm.get('password').dirty)" id="basic-icon-default-password3" class="form-control dt-password"
              placeholder="*********"  name="user-password"/>
              <span *ngIf="userForm.get('password').errors && (userForm.get('password').touched || userForm.get('password').dirty)" class="invalid-form">
                <small class="form-text text-danger">This field is required !</small>
              </span>

          </div>
          <div class="form-group">
            <label class="form-label" for="repassword">Confirm Password </label>
            <input type="password" formControlName="repassword" [class.is-invalid]="userForm.get('repassword').errors && (userForm.get('repassword').touched || userForm.get('repassword').dirty)" id="basic-icon-default-repassword3" class="form-control dt-repassword"
              placeholder="*********"  name="user-repassword"/>
              <span *ngIf="userForm.get('repassword').errors && (userForm.get('repassword').touched || userForm.get('repassword').dirty)" class="invalid-form">
                <small class="form-text text-danger">This field is required !</small>
              </span>
        
          </div>

        
         

         

          <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary mr-1" rippleEffect>Submit</button>
          <button type="reset" class="btn btn-outline-secondary" (click)="toggleSidebar('reset-password-sidebar')"
            rippleEffect>
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new user Ends-->
</div>