<div class="content-wrapper">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body">
        <section class="users-list-wrapper">
            <div class="card">
                <div class="card-body" style="padding: 5px ;">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-sm-3 ">
                                <h5>Commissioning Details </h5>
                            </div>
                            <div class="col-sm-9 text-right p-0">
                                <!-- <a routerLink="/Installation-commissioning-pdf" class="btn btn-outline-warning btn-sm mx-1">
                                    <i data-feather="file-plus"></i> Generate Commissioning Report
                                </a> -->
                                <!-- <a class="btn btn-outline-warning  text-warning btn-sm mx-1"  (click)="modalOpenSM(modalSM)" data-toggle="modal"
                                data-target="#modal-default">
                                    <i data-feather="file-text"></i> Assign
                                </a>  -->
                                
                                <a *ngIf="isShowApprove"  class="btn btn-outline-warning text-warning  btn-sm mr-1 " (click)="modalOpenSM2(modalSM2)" data-toggle="modal" 
                                data-target="#modal-default">
                                    <i data-feather="check-square"></i> Approve / <i data-feather="x-square"></i> Reject
                                </a>
                                <!-- <a *ngIf="isShowEdit" [routerLink]="['/commission-details/commission-form',getDetails.commissionId]" class="btn btn-outline-primary btn-sm">
                                    <i data-feather="edit"></i> Edit -->
                                    <a  [routerLink]="['/commission-details/commission-form',1]" class="btn btn-outline-primary btn-sm">
                                        <i data-feather="edit"></i> Edit
                                </a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <form>
                        <div class="card-body card-body-padding-top">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <h5 class="card-titleb blue-clr"> Customer Details
                                    </h5>
                                </div>
                            </div>
                            <div class="row p-0 ">
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm">
                                            <table class="table">
                                                <tr>
                                                    <td width="60%"><span class="text-gray">IRF Request Number </span>
                                                    </td>     
                                                          
                                                    <td>{{getDetails.irfManualId}}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Service Request Number
                                                        </span></td>
                                                        <!-- {{getDetails.salesOrderManualId}} -->
                                                    <td>   {{getDetails.manualId}}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Address </span></td>
                                                    <td>{{getDetails.address}}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">City </span></td>
                                                    <td>{{getDetails.city}}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Country </span></td>
                                                    
                                                    
                                                    <td>
                                                        {{getDetails.countryName}}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Customer Mobile No. </span>
                                                    </td>
                                                    <td>{{getDetails.customerMobile}} </td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Product Serial No. </span>
                                                    </td>
                                                    <td>{{getDetails.assetSerialNo}} </td>
                                                </tr>
                                               
                                                <tr>
                                                    <td> </td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab">
                                        <div class="table-responsive-sm">
                                            <table class="table">
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Client Name </span></td>
                                                    <td>{{getDetails.accountName}}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Client Code </span></td>
                                                    <td>{{getDetails.sapCode}}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Pin Code </span></td>
                                                    <td>{{getDetails.pincode}}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">State </span></td>
                                                    <td>{{getDetails.stateName}}</td>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Email Id</span></td>
                                                    <td>{{getDetails.customerEmail}}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Commissioning Date</span>
                                                    </td>
                                                    <td>{{getDetails.createdDate | date:"dd/MM/yyyy"}}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Actual Serial No. </span>
                                                    </td>
                                                    <!-- <td>{{getDetails.origialProductSerialNo}} </td> -->
                                                    {{getDetails.assetSerialNo}}
                                                    
                                                </tr>
                                                <tr>
                                                    <td> </td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-s321a">
                                <div class="row ">
                                    <div class="col-12">
                                        <h5 class="card-titleb blue-clr">Visual Inspection </h5>
                                    </div>
                                    <div class="col-12">
                                        <table class="table table-sm border-bottom">
                                            <thead>
                                                <tr>
                                                    <th width="22%">Check Points
                                                    </th>
                                                    <th width="40%">Requirement
                                                    </th>
                                                    <th width="30%">Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td valign="middle"><span class="text-gray"> Perform Visual
                                                            Inspection</span></td>
                                                    <td valign="middle">
                                                        <span class="text-gray">A service technician will inspect the EV
                                                            Charger to ensure that all system
                                                            components are undamaged and clean</span>

                                                    <td>
                                                        <div class="form-group" *ngIf="getDetails.visualInspectionList[0].visualInspectionListId===1">
                                                            {{getDetails.visualInspectionList[0].remark}}

                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle"><span class="text-gray">Indicator Display</span>
                                                    </td>
                                                    <td valign="middle">
                                                        <span class="text-gray">Available and working</span>
                                                    <td>
                                                        <div class="form-group" *ngIf="getDetails.visualInspectionList[1].visualInspectionListId===2">
                                                            {{getDetails.visualInspectionList[1].remark}}
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle"><span class="text-gray">Accessibility</span>
                                                    </td>
                                                    <td valign="middle">
                                                        <span class="text-gray">Power control switch (on/off) is easily
                                                            accessible</span>
                                                    <td>
                                                        <div class="form-group" *ngIf="getDetails.visualInspectionList[2].visualInspectionListId===3">
                                                            {{getDetails.visualInspectionList[2].remark}}

                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle"><span class="text-gray">Charger marking
                                                            plate</span>
                                                    </td>
                                                    <td valign="middle">
                                                        <span class="text-gray">Stickers should be there for system info
                                                            i.e. Model no. Serial no, etc.</span>
                                                    <td>
                                                        <div class="form-group" *ngIf="getDetails.visualInspectionList[3].visualInspectionListId===4">
                                                            {{getDetails.visualInspectionList[3].remark}}

                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="table-s321a">
                                <div class="row ">
                                    <div class="col-12">
                                        <h5 class="card-titleb blue-clr">Mains Input Parameter</h5>
                                    </div>
                                    <div class="col-12">
                                        <table class="table table-sm border-bottom">
                                            <thead>
                                                <tr>
                                                    <th width="30%">Parameter
                                                    </th>
                                                    <th width="40%">Recommended value
                                                    </th>
                                                    <th width="30%">Action value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td valign="middle"><span class="text-gray">EB N-E voltage (No Load,
                                                            Charger MCB/RCD OFF)</span>
                                                    </td>
                                                    <td valign="middle">
                                                        <span class="text-gray">Voltage should bes ≤2V</span>
                                                    <td>
                                                        <div class="form-group" *ngIf="getDetails.mainInputParameterList[0].MainInputParameterListId===1">
                                                            {{getDetails.mainInputParameterList[0].actualValue}}
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle"><span class="text-gray">EB N-E voltage (with
                                                            load, Charger MCB/RCD ON)</span>
                                                    </td>
                                                    <td valign="middle">
                                                        <span class="text-gray">Available and working</span>
                                                    <td>
                                                        <div class="form-group" *ngIf="getDetails.mainInputParameterList[1].MainInputParameterListId===2">
                                                            {{getDetails.mainInputParameterList[1].actualValue}}
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle"><span class="text-gray">EB Phase to N
                                                            Voltage</span>
                                                    </td>
                                                    <td valign="middle">
                                                        <span class="text-gray">Voltage should be b/w 200 - 250VAC
                                                            Nominal Voltageis 230VAC</span>
                                                    <td>
                                                        <div class="form-group"  *ngIf="getDetails.mainInputParameterList[2].MainInputParameterListId===3">
                                                            {{getDetails.mainInputParameterList[2].actualValue}}

                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="table-s321a">
                                <div class="row ">
                                    <div class="col-12">
                                        <h5 class="card-titleb blue-clr">Check Points </h5>
                                    </div>
                                    <div class="col-12 ">
                                        <table class="table table-sm border-bottom">
                                            <thead>
                                                <tr>
                                                    <th width="70%"><span class="text-gray">Check Points</span></th>
                                                    <th width="30%"><span class="text-gray">Remarks</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td valign="middle"><span class="text-gray">Installation &
                                                            commissioning of the charger, starting of the charger
                                                            through RFiD card</span></td>
                                                    <td>
                                                        <div class="form-group" *ngIf="getDetails.checkPointList[0].checkPointListId===1">
                                                            {{getDetails.checkPointList[0].remark}}

                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle"><span class="text-gray">Plugged In App download,
                                                            registration and demonstration to customer</span></td>
                                                    <td>
                                                        <div class="form-group" *ngIf="getDetails.checkPointList[1].checkPointListId===2">
                                                            {{getDetails.checkPointList[1].remark}}

                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle"><span class="text-gray">Communication
                                                            verification between App and Charger</span></td>
                                                    <td>
                                                        <div class="form-group"  *ngIf="getDetails.checkPointList[2].checkPointListId===3">
                                                            {{getDetails.checkPointList[2].remark}}

                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle"><span class="text-gray">Demonstration of
                                                            charging operation with Vehicle</span></td>
                                                    <td>
                                                        <div class="form-group" *ngIf="getDetails.checkPointList[3].checkPointListId===4">
                                                            {{getDetails.checkPointList[3].remark}}

                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle"><span class="text-gray">Trailing on basic
                                                            troubleshooting & complaint logging process with Customer
                                                            care no. details</span></td>
                                                    <td>
                                                        <div class="form-group" *ngIf="getDetails.checkPointList[4].checkPointListId===5">
                                                            {{getDetails.checkPointList[4].remark}}

                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="card-titleb blue-clr"> Two RFID key Handover to Customer Name & Mobile
                                        Number
                                    </h5>
                                </div>
                            </div>
                            <div class="row p-0 hd-mgr12">
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm">
                                            <table class="table ">
                                                <tbody>
                                                    <tr>
                                                        <td width="40%"><span class="text-gray">Customer Name</span>
                                                        </td>
                                                        <td>   {{getDetails.rfidKeyHolderName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="text-gray">Remarks
                                                            </span></td>
                                                        <td>{{getDetails.remark}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm">
                                            <table class="table border-bottom">
                                                <tbody>
                                                    <tr>
                                                        <td width="40%"><span class="text-gray">Mobile Number </span>
                                                        </td>
                                                        <td>{{getDetails.rfidKeyHolderMobile}}</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm border-bottom">
                                            <table class="table">
                                                <tr>
                                                    <td><span class="text-gray">Engineer </span></td>
                                                    <td>{{getDetails.exicomRepresentativeName}}</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="text-gray">Employee Code</span></td>
                                                    <td>{{getDetails.employeeCode}}</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="text-gray">Signature </span></td>
                                                    <td class="pt-0  ">
                                                        <div class="input-group-append input-group-sm ">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-secondary px-1"
                                                                    id="basic-addon2">
                                                                    <i data-feather="download" class=""></i>
                                                                    Download File
                                                                </button>
                                                                <p class="small mb-0">file1.jpg</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm border-bottom">
                                            <table class="table">
                                                <tr>
                                                    <td><span class="text-gray">Customer
                                                            Representative Name </span></td>
                                                    <td>{{getDetails.customerRepresentativeName }}</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="text-gray">Signature </span></td>
                                                    <td class="pt-0">
                                                        <div class="input-group-append input-group-sm ">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-secondary px-1"
                                                                    id="basic-addon2">
                                                                    <i data-feather="download" class=""></i>
                                                                    Download File
                                                                </button>
                                                                <p class="small mb-0">file1.jpg</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="card-titleb blue-clr"> ICheck for Healthy Input Power Supply/Vehicle
                                        Charging
                                    </h5>
                                </div>
                            </div>
                            <div class="row p-0 hd-mgr12">
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm border-bottom">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td><span class="text-gray">
                                                            Input Power Image
                                                            </span></td>
                                                        <td class="pt-0">
                                                            <div class="input-group-append input-group-sm ">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary px-1"
                                                                        id="basic-addon2">
                                                                        <i data-feather="download" class=""></i>
                                                                        Download File
                                                                    </button>
                                                                    <p class="small mb-0">file1.jpg</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="text-gray">
                                                            App Activation Image
                                                            </span></td>
                                                        <td class="pt-0">
                                                            <div class="input-group-append input-group-sm ">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary px-1"
                                                                        id="basic-addon2">
                                                                        <i data-feather="download" class=""></i>
                                                                        Download File
                                                                    </button>
                                                                    <p class="small mb-0">file1.jpg</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="text-gray">Commissioning Report
                                                            </span></td>
                                                        <td class="pt-0">
                                                            <div class="input-group-append input-group-sm ">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary px-1"
                                                                        id="basic-addon2">
                                                                        <i data-feather="download" class=""></i>
                                                                        Download File
                                                                    </button>
                                                                    <p class="small mb-0">file1.jpg</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm border-bottom">
                                            <table class="table">
                                                <tbody>

                                                    <tr>
                                                        <td><span class="text-gray">Earthing Value Image
                                                            </span></td>
                                                        <td class="pt-0">
                                                            <div class="input-group-append input-group-sm ">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary px-1"
                                                                        id="basic-addon2">
                                                                        <i data-feather="download" class=""></i>
                                                                        Download File
                                                                    </button>
                                                                    <p class="small mb-0">file1.jpg</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="text-gray">Vehicle Testing Image
                                                            </span></td>
                                                        <td class="pt-0">
                                                            <div class="input-group-append input-group-sm ">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary px-1"
                                                                        id="basic-addon2">
                                                                        <i data-feather="download" class=""></i>
                                                                        Download File
                                                                    </button>
                                                                    <p class="small mb-0">file1.jpg</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="text-gray">Software Upd Image
                                                            </span></td>
                                                        <td class="pt-0">
                                                            <div class="input-group-append input-group-sm ">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary px-1"
                                                                        id="basic-addon2">
                                                                        <i data-feather="download" class=""></i>
                                                                        Download File
                                                                    </button>
                                                                    <p class="small mb-0">file1.jpg</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                               
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- assign -->
<!-- <ng-template #modalSM let-modal>
    <div class="modal-header bg-dark" style="padding: 5px;">
       
        <h5 class="modal-title text-white" id="myModalLabel160">Assign Service Order</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

      
    </div>
    <form [formGroup]="assignForm" (ngSubmit)="AssignSubmit()">
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="form-group">
            <label>Assign To</label>
            <select class="form-control  form-control-sm model-w-s mt-2">
                <option>Select</option>
                <option>Option 1</option>
                <option>Option 2</option>

            </select> 

            <select formControlName="dpdAssignAction" class="form-control form-control-sm"  (change)="onChangeAssign($event.target.value)" >
                <option *ngFor="let objCountry of getAssignRespone"  [value]="objCountry.countryId">{{objCountry.countryName}}</option>
                </select>
            <div *ngIf="assignSubmitted && Assignf.dpdAssignAction.errors" style="color: red;font-size: 10px;">
                <div *ngIf="Assignf.dpdAssignAction.errors.required">Assign To is required</div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger " (click)="modal.close('Accept click')">Close</button>
        <button  type="AssignSubmit" class="btn btn-success " (click)="modal.close('Accept click')">Save Changes</button>
    </div>
    </form>
</ng-template> -->
<!-- / assign end -->



<!-- approve /moderate -->
<ng-template #modalSM2 let-modal>
    <form [formGroup]="approveRejectForm" (ngSubmit)="Submit()">
    <div class="modal-header bg-dark" style="padding: 5px;">
        <h5 class="modal-title text-white" id="myModalLabel160">Approval For</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="row ml-0">
            <div class="col-lg-12">
                <label for="basicTextarea">Remarks</label>
                <fieldset class="form-group">
                    <textarea class="form-control"  formControlName="txtremarks" id="basicTextarea" rows="2" placeholder="Textarea"></textarea>
                </fieldset>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Action</label>
                    <select class="form-control form-control-sm  model-w-s" formControlName="dpdAction">
                        <option  value="">Select</option>
                        <option value="A">Approve</option>
                        <option value="RJ">Reject</option>
                    </select>
                   

                    <div *ngIf="submitted && f.dpdAction.errors" style="color: red;font-size: 10px;">
                        <div *ngIf="f.dpdAction.errors.required">Action is required</div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger " (click)="modal.close('Accept click')">Close</button>
        <!-- modalOpenSM2 -->
        <button  type="submit"class="btn btn-success" (click)="modal.close('Accept click')">Save </button>
    </div>
</form>
</ng-template>
<!-- / Modal2 -->