<div class="content-wrapper">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body">
        <section class="users-list-wrapper">
            <div class="card">
                <div class="card-body" style="padding: 5px ;">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h5 class="card-titleb ">Asset Serial Number :
                                    <strong>{{asset?.serialNo}} </strong>
                                </h5>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a routerLink="/edit-assetirf"  class="btn btn-light btn-sm mx-1">
                                    <i data-feather="edit"></i> Generate IRF</a>
                                <button type="button" class="btn btn-light btn-sm" data-toggle="modal"
                                    (click)="modalOpenDefault(modalDefault)" data-target="#modal-xl">
                                    <i data-feather="edit"></i> Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Details</h4>
                    </div>
                    <div class="card-body">
                        <div style="background-color: #f4f5f5; padding: 6px 0 0 0;  border: 1px solid #6e63e5; ">
                            <h6 class="ml-1"> Asset Information
                            </h6>
                        </div>
                    </div>
                    <div class="row px-2">
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table table-sm ">
                                    <tbody>
                                        <tr>
                                            <td><span class="text-gray">
                                                    Asset Serial Number </span></td>
                                            <td> {{asset?.serialNo}}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">Account </span></td>
                                            <td>{{asset?.accountName}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">Site ID </span></td>
                                            <td>{{asset?.siteId}}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">Warranty</span></td>
                                            <td *ngIf="asset.warrantyStatus===1">Under Warranty</td>
                                            <td *ngIf="asset.warrantyStatus===0">Out of Warranty</td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">Remarks</span></td>
                                            <td>{{asset?.remarks}}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">Sales Order No. </span></td>
                                            <td>{{asset?.salesOrderNo}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-6 px-2">
                            <div class="table-responsive">
                                <table class="table table-sm ">
                                    <tbody>
                                        <tr>
                                            <td><span class="text-gray"> Part Code</span></td>
                                            <td>{{asset?.productName}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray"> Asset Description</span></td>
                                            <td>{{asset?.productDescription}}</td>
                                        </tr>
                                   
                                        <tr>
                                            <td><span class="text-gray">Exchange/Site Name</span></td>
                                            <td>{{asset?.siteName}}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">Plant </span></td>
                                            <td>{{asset?.plant}} </td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">Status </span></td>
                                            <td>{{asset?.statusName}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div style="background-color: #f4f5f5; padding: 6px 0 0 0;  border: 1px solid #6e63e5; ">
                            <h6 class="ml-1">Delivery Details
                            </h6>
                        </div>
                    </div>
                    <div class="row px-2">
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table table-sm ">
                                    <tbody>
                                        <tr>
                                            <td><span class="text-gray">

                                                    PO No</span></td>
                                            <td> {{asset?.purchaseOrderNumber}}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">SAP Delivery Document No </span></td>
                                            <td>{{asset?.sapDeliveryDocumentNumber}}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table table-sm ">
                                    <tbody>
                                        <tr>
                                            <td><span class="text-gray">
                                                    PO Date</span></td>
                                            <td> {{asset?.purchaseOrderDate  | date:'shortDate':'IST' }}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">SAP Material Document No </span></td>
                                            <td>{{asset?.sapMaterialDocumentNumber}}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div style="background-color: #f4f5f5; padding: 6px 0 0 0;  border: 1px solid #6e63e5; ">
                            <h6 class="ml-1">Warranty Details
                            </h6>
                        </div>
                    </div>
                    <div class="row px-2">
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table table-sm ">
                                    <tbody>
                                        <tr>
                                            <td><span class="text-gray">Delivery Date</span></td>
                                            <td>{{asset?.deliveryDate  | date:'shortDate':'IST' }}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">Warranty from DOD(months)</span></td>
                                            <td>{{asset?.warrantyFromDateOfDeliveryInMonth}} </td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">DOD Expiration Date </span></td>
                                            <td>{{asset?.dateOfDeliveryExpiryDate  | date:'shortDate':'IST' }}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">Warranty Expiry Date </span></td>
                                            <td>{{asset?.warrantyExpiryDate  | date:'shortDate':'IST' }} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <tbody>
                                        <tr>
                                            <td><span class="text-gray">
                                                    Install Date</span></td>
                                            <td>{{asset?.installDate  | date:'shortDate':'IST' }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">Warranty from Installation Date(months) </span>
                                            </td>
                                            <td>{{asset?.warrantyFromDateOfInstallationInMonth}} </td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">Install Expiry Date </span></td>
                                            <td> {{asset?.installExpiryDate  | date:'shortDate':'IST' }}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">Warranty Status </span></td>
                                            <td>{{asset?.warrantyStatus}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div style="background-color: #f4f5f5; padding: 6px 0 0 0;  border: 1px solid #6e63e5; ">
                            <h6 class="ml-1">AMC Details
                            </h6>
                        </div>
                    </div>
                    <div class="row px-2">
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <tbody>
                                        <tr>
                                            <td><span class="text-gray">
                                                    AMC PO No</span></td>
                                            <td>{{asset?.amcPurchaseOrderNumber}}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">AMC Start Date</span></td>
                                            <td>{{asset?.amcStartDate  | date:'shortDate':'IST' }} </td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">AMC Period (months) </span></td>
                                            <td>{{asset?.amcPeriod}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <tbody>
                                        <tr>
                                            <td><span class="text-gray">

                                                    AMC PO Date</span></td>
                                            <td>{{asset?.amcPurchaseOrderDate  | date:'shortDate':'IST' }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">AMC Expiry Date </span></td>
                                            <td>{{asset?.amcExpiryDate  | date:'shortDate':'IST' }} </td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">AMC Status </span></td>
                                            <td> {{asset?.amcStatus}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div style="background-color: #f4f5f5; padding: 6px 0 0 0;  border: 1px solid #6e63e5; ">
                            <h6 class="ml-1">System Information
                            </h6>
                        </div>
                    </div>
                    <div class="row px-2">
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <tbody>
                                        <tr>
                                            <td><span class="text-gray">
                                                    Created By </span></td>
                                            <td> {{asset?.createByName}}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">
                                                    Created Date </span></td>
                                            <td> {{asset?.createdDate  | date:'shortDate':'IST' }}</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <tbody>

                                        <tr>
                                            <td><span class="text-gray">
                                                    Last Modified By </span></td>
                                            <td> {{asset?.modifiedByName}}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="text-gray">
                                                    Last Modified Date </span></td>
                                            <td> {{asset?.modifiedDate  | date:'shortDate':'IST' }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<ng-template #modalDefault let-modal>
    <div class="modal-header bg-dark" style="padding: 5px;">
        <h5 class="modal-title text-white" id="exampleModalCenterTitle">Edit Asset</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" ngbAutofocus>
        <div style="background-color: #f4f5f5; padding: 6px 0 0 0;  border: 1px solid #6e63e5; ">
            <h6 class="pl-1"> Asset Information</h6>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="row hd-mgr12">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name"> Serial Number <span class="text-danger">*</span></label>
                                <input type="name" class="form-control form-control-sm" placeholder="2342345676787989"
                                    disabled="" side>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Part Code <span class="text-danger">*</span></label>
                                <select class="form-control select2 form-control-sm" style="width: 100%;" disabled>
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Account <span class="text-danger">*</span></label>
                                <select class="form-control form-control-sm select2" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row hd-mgr12">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Primary Account</label>
                                <select class="form-control form-control-sm select2" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="form-group">
                                <label>Site</label>
                                <select class="form-control form-control-sm select2" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4  ">
                            <div class="form-group">
                                <label> Status</label>
                                <select class="form-control form-control-sm select2" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row hd-mgr12">
                        <div class="col">
                            <div class="form-group">
                                <label for="name"> Remarks </label>
                                <textarea name="textarea" id="textarea" cols="45" rows="2" class="form-control form-control-sm"
                                    placeholder="Please Enter" ></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                <div style="background-color: #f4f5f5; padding: 6px 0 0 0;  border: 1px solid #6e63e5; ">
                    <h6 class="ml-1"> Delivery Details
                    </h6>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="name">Delivery Date
                            </label>
                            <!-- <input type="name" class="form-control form-control-sm" placeholder="22-4-2022"> -->
                            <ng2-flatpickr [ngClass]="'firstsecond'" [config]="basicDateOptions" name="basicDate"></ng2-flatpickr>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="password"> Install Date
                            </label>
                            <!-- <input type="text" class="form-control form-control-sm" placeholder="22-6-2022"> -->
                            <ng2-flatpickr [ngClass]="'firstsecond'" [config]="basicDateOptions" name="basicDate"></ng2-flatpickr>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="name">Warranty from DOD(months)
                            </label>
                            <input type="name" class="form-control form-control-sm" placeholder="23">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                                <label for="name" >Warranty from Install (months)</label>
                            <input type="name" class="form-control form-control-sm" placeholder="2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" rippleEffect>
            Save Changes
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
           Close
        </button>
    </div>
</ng-template>