<div class="content-wrapper container-xxl p-0 ">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body shadow ">
        <section id="basic-tabs-components">
            <div class="row match-height">
                <div class=" col-lg-12 ">
                    <div class="card-body bg-white p-0 ">
                        <ul ngbNav #nav="ngbNav" class="nav-tabs tb-border mb-0">
                            <li ngbNavItem>
                                <ng-template ngbNavContent>
                                    <div class="table-responsive border">
                                        <p-table (onLazyLoad)="loadData($event)" [rowsPerPageOptions]="[5,10,15,20]" paginatorPosition="top" [value]="accounts" [lazy]="true" styleClass="p-datatable-gridlines p-datatable-striped"
                                         responsiveLayout="scroll" 
                                        dataKey="id" [paginator]="true" [rows]="noOfRows"
                                        [totalRecords]="totalRecords">
                                        <ng-template pTemplate="header">
                                            <!-- [rowsPerPageOptions]="[5,10,15]"  data.SalesOrder[0].clients.clientName-->
                                            <tr class="bg-white">
                                                <th scope="col" >Sr. No.</th>
                                                <th scope="col" >Account Name</th>
                                                <th scope="col" >SAP Customer Number</th>
                                                <th scope="col" >Customer</th>
                                                <th scope="col" >Billing State Name</th>
                                                <th scope="col" >Phone Number</th>
                                                <th scope="col" >Owner</th>
                                                <th scope="col" >Created Date</th>
                                                <th scope="col" >Action</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-account let-rowIndex="rowIndex">
                                           
                                            <tr>
                                                <td class="bd-top">{{ rowIndex + 1 }}</td>
                                                <td ><a (click)="passAccountData(rowIndex)" routerLink="/comp-accounts" class="no-st-text-b">{{ account?.name }}</a></td>
                                                <td class="bd-top">{{ account?.sapCode }}</td>
                                                <td class="bd-top">{{ account?.customer }}</td>
                                                <td class="bd-top">{{ account?.billingStateName }}</td>
                                                <td class="bd-top">{{ account?.contactPersonPhone }}</td>
                                                <td class="bd-top">{{ account?.ownerName }}</td>
                                                <td class="bd-top">{{ account?.createdDate | date:'shortDate':'IST' }}</td>
                                                <td> <button type="button" class="btn   btn-outline-secondary btn-sm pl-3 pr-3"> <i class="fas fa-edit" aria-hidden="true"></i> Edit</button></td>                      
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    </div>
                                    
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav" class=""></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>