<div class="content-wrapper">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body">
        <section class="users-list-wrapper">
            <div class="card">
                <div class="card-body" style="padding: 5px ;">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-sm-6 ">
                                <h5>Details </h5>
                            </div>
                            <div class="col-sm-6 text-right p-0">
                                <a routerLink="/single-irf" class="btn btn-light btn-sm">
                                    <i data-feather="edit"></i> Edit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <form>
                        <div class="card-body">
                            <div class="row p-0 hd-mgr12">
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm ">
                                            <table class="table">
                                                <tr>
                                                    <td width="40%"><span class="text-gray">IRF Request Number</span>
                                                    </td>
                                                    <td>{{irf?.manualId}}</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="text-gray">Request Raised by</span></td>
                                                    <td>{{irf?.requestRaisedByName}}</td>
                                                </tr>
                                                <tr>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm">
                                            <table class="table">
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Date of Assignment </span>
                                                    </td>
                                                    <td>{{irf?.dateOfAssignment | date:'dd-MM-yyyy' }}</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="text-gray">Tentative Plan Date</span></td>
                                                    <td>{{irf?.tentativePlan | date:'dd-MM-yyyy' }}</td>
                                                </tr>
                                                <tr>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-12 border-bottom-dc mb-1">
                                        <h5 class="card-titleb blue-clr ">Purchase Order Details
                                        </h5>
                                    </div>
                            </div>
                            <div class="row p-0 hd-mgr12">
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm">
                                            <table class="table">
                                                <tr>
                                                    <td><span class="text-gray">Customer Name </span></td>
                                                    <td>{{irf?.accountName}}</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="text-gray">PO No. & Date </span></td>
                                                    <td>{{irf?.poNo}} {{irf?.poDate | date:'dd-MM-yyyy' }}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"> <span class="text-gray">Contact Person Name </span>
                                                    </td>
                                                    <td>{{irf?.contactPersonName}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm">
                                            <table class="table">    
                                                <tr>
                                                    <td><span class="text-gray">Contact Number </span></td>
                                                    <td>{{irf?.contactPersonPhone}}</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="text-gray">Email- Id </span></td>
                                                    <td>{{irf?.contactPersonEmail}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                 
                               
                                    <div class="col-md-12 border-bottom-dc mb-1">
                                        <h5 class="card-titleb blue-clr ">Charger Details
                                        </h5>
                                    </div>
                                 
                            </div>
                            <div class="row p-0 hd-mgr12">
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm">
                                            <table class="table">
                                                
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Type of Charger </span></td>
                                                    <td>{{irf?.typeOfChargerName}}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Rating of Charger </span>
                                                    </td>
                                                    <td>{{irf?.ratingOfCharger}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm">
                                            <table class="table">
                                                
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Quantity </span></td>
                                                    <td>{{irf?.quantity}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                        
                                <div class="col-md-12 border-bottom-dc mb-1">
                                    <h5 class="card-titleb blue-clr ">I & C PO Details
                                    </h5>
                                </div>
                            </div>
                            <div class="row p-0 hd-mgr12">
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm">
                                            <table class="table">
                                                
                                                <tr>
                                                    <td width="40%"><span class="text-gray">I & C PO Status </span></td>
                                                    <td>{{irf?.icPoStatus}}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><span class="text-gray">I & C PO </span></td>
                                                    <td>{{irf?.icPo}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm">
                                            <table class="table">
                                                
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Quantity </span></td>
                                                    <td>{{irf?.icPrice}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 border-bottom-dc mb-1">
                                    <h5 class="card-titleb blue-clr ">Activity Type
                                    </h5>
                                </div>
                            </div>
                            <div class="row p-0 hd-mgr12">
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm">
                                            <table class="table">
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Survey </span></td>
                                                    <td  *ngIf="irf.isSurveyRequired"><i data-feather="check"></i></td>
                                                    <td  *ngIf="!irf.isSurveyRequired"><i data-feather="x"></i></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="text-gray">Installation </span></td>
                                                    <td  *ngIf="irf.isInstallationRequired"><i data-feather="check"></i></td>
                                                    <td  *ngIf="!irf.isInstallationRequired"><i data-feather="x"></i></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="in-table-st11ab p-0">
                                        <div class="table-responsive-sm">
                                            <table class="table">
                                                <tr>
                                                    <td width="40%"><span class="text-gray">Commissioning </span></td>
                                                    <td  *ngIf="irf.isCommissioningRequired"><i data-feather="check"></i></td>
                                                    <td  *ngIf="!irf.isCommissioningRequired"><i data-feather="x"></i></td>
                                                </tr>
                                                <!-- <tr>
                                                    <td width="60%"><span class="text-gray">Other Visit (Please Specify) </span>
                                                    </td>
                                                    <td  *ngIf="irf.isOtherRequired"><i data-feather="check"></i></td>
                                                    <td  *ngIf="!irf.isOtherRequired"><i data-feather="x"></i></td>
                                                </tr> -->
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive-sm all-form-gpf">
                                <table class="table">
                                    <tr>
                                        <th>
                                            Work Description
                                        </th>
                                        <th>
                                            Exicom Scope
                                        </th>
                                        <th>
                                            Customer Scope
                                        </th>
                                        <th>
                                            Specification /Make/Model
                                        </th>
                                        <th>
                                            Max. No. Of Er. Visits
                                        </th>
                                        <th>
                                            Extra Charge/ Visit
                                        </th>
                                    </tr>
                                    <tr *ngFor="let item of irf.irfWorkList">
                                        <td>{{irfworklistMap[item.irfWorkListId]}}</td>
                                        <td>{{item.isExicomScope}}</td>
                                        <td>{{item.isCustomerScope}}</td>
                                        <td>{{item.makeModelDescription}}</td>
                                        <td>{{item.maxNoOfVisit}}</td>
                                        <td>{{item.extraVisitCharge}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>