<div class="content-wrapper container-xxl p-0">
  <app-content-header [contentHeader]="contentHeader"></app-content-header>
  <div class="content-body">
    <!-- User List -->
    <section class="users-list-wrapper">
      <div class="card">
        <div class="row">
          <div class="col-md-12 col-12">
            <!-- <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center"
                >Show
                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries</label
              >
            </div> -->
          </div>
          <div class="col-md-12 col-12 d-flex justify-content-start justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
             
              <button *ngIf="creds.roleGroupAndAccount.roleGroup==='Admin'" class="btn btn-primary ml-1" rippleEffect (click)="toggleSidebar('new-user-sidebar')">
                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                ><span class="d-none d-sm-inline-block">Add New User</span>
              </button>
              <!-- <button class="btn btn-primary ml-1" rippleEffect (click)="toggleSidebar('change-password-sidebar')">
                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                ><span class="d-none d-sm-inline-block">Change Password</span>
              </button>

              <button *ngIf="creds.roleGroupAndAccount.roleGroup==='Admin'" class="btn btn-primary ml-1" rippleEffect (click)="toggleSidebar('reset-password-sidebar')">
                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                ><span class="d-none d-sm-inline-block">Reset Password</span>
              </button> -->
            </div>
          </div>
        </div>

        <!-- simple Table -->

        <!-- <table class="table border-left bordeer-right">
          <thead class="mb-0 bg-white">
              <tr class="bg-white">
                 <th>Id</th>
                 <th>Name</th>
                 <th> Email Id </th>
                 <th>Mobile</th>
                 <th>User Type</th>
                 <th>Role</th>
                 <th>Status</th>
                 <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <th scope="row">1</th>
                  <td>Jeewak Kumar</td>
                  <td>jeewak.kumar@gmail.com</td>
                  <td>8700596597</td>
                  <td>Exicom User</td>
                  <td>Admin</td>
                  <td>Active</td>
                  <td>Edit</td>
              </tr>
        
          </tbody>
      </table> -->

      <p-table [value]="allUsers" [lazy]="true" paginatorPosition="bottom" styleClass="p-datatable-gridlines p-datatable-striped"
                                        (onLazyLoad)="loadData($event)" responsiveLayout="scroll" 
                                        dataKey="userId" [paginator]="true" [rows]="noOfRows"
                                        [totalRecords]="totalRecords">
                                        <ng-template pTemplate="header">
                                            <!-- [rowsPerPageOptions]="[5,10,15]"  data.SalesOrder[0].clients.clientName-->
                                            <tr class="bg-white">
                                                <th  field="userId" class="text-nowrap">Sr. No.</th>
                                                <th  field="fullName" class="text-nowrap">User Id</th>
                                                <th  field="fullName" class="text-nowrap">Name</th>
                                                <th  field="fullName" class="text-nowrap">Email Id</th>
                                                <th  field="emailId" class="text-nowrap">Account</th>
                                                <th  field="mobileNo" class="text-nowrap">Account SAP Number</th>
                                                <th  field="userType" class="text-nowrap">Expired</th>
                                                <th  field="userType" class="text-nowrap">Locked</th>
                                                <th  field="userType" class="text-nowrap">Enabled</th>
                                                <th  field="roles.roleName" class="text-nowrap">Profile</th>
                                                <th  field="roles.roleName" class="text-nowrap">Employee Code</th>
                                                <th  field="enabled" class="text-nowrap">Manager</th>
                                                <th  field="enabled" class="text-nowrap">Action</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-users let-rowIndex="rowIndex">
                                           
                                            <tr>
                                                <td>{{rowIndex+1}}</td>
                                                <td ><a (click)="passUserData(users.userId)" class="neela no-st-text-b">{{ users.userId }}</a></td>
                        
                                                <td >{{users.fullname}}</td>
                                                <td >{{users.emailId}}</td>
                                                <td >{{users.accountName}}</td>
                                                <td >{{users.sapCode}}</td>
                                                <td *ngIf="users.accountNonExpired == '1'" >No</td>
                                                <td *ngIf="users.accountNonExpired != '1'" >Yes</td>
                                                <td *ngIf="users.accountNonLocked == '1'" >No</td>
                                                <td *ngIf="users.accountNonLocked != '1'" >Yes</td>
                                                <td *ngIf="users.enabled == '1'" >Yes</td>
                                                <td *ngIf="users.enabled != '1'" >No</td>
                                                <td >{{users.profileName}}</td>
                                                <td >{{users.employeeCode}}</td>
                                                <td >{{users.managerFullName}}</td>
                                                <td  class= "size-18" >
                                                  <button type="button" class="neela btn btn-md mx-1 d-flex"
                                                      (click)="toggleSidebar('reset-password-sidebar')" 
                                                      > <i data-feather="edit"
                                                          class="mr-1"></i> Reset Password</button>

                                                  <button *ngIf="users.enabled == '1'" type="button" class="lal btn btn-md mx-1 d-flex"
                                                  (click)="enableDisbaleUser(users.userId,false)" 
                                                  > <i data-feather="lock"
                                                      class="mr-1"></i>Disable</button>
                                                  <button *ngIf="users.enabled != '1'" type="button" class="hara btn btn-md mx-1 d-flex"
                                                  (click)="enableDisbaleUser(users.userId,true)" 
                                                  > <i data-feather="unlock"
                                                      class="mr-1"></i>Enable</button>
                                              </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>  

<!-- End Simple Table -->
        <!-- <ngx-datatable
          [rows]="rows"
          [rowHeight]="50"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
        >
          <ngx-datatable-column name="User" prop="fullName" [width]="200">
            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
            
                <ng-template #customAvatar>
                  <div
                    class="avatar mr-1 ml-0"
                    [ngClass]="{
                      'bg-light-success': row.status == 'active',
                      'bg-light-secondary': row.status == 'inactive',
                      'bg-light-warning': row.status == 'pending'
                    }"
                  >
                    <div class="avatar-content">{{ name | initials }}</div>
                  </div>
                </ng-template>
                <div class="cell-line-height">
                  <a routerLink="/apps/user/user-view/{{ row.id }}" class="font-medium-1 d-block"
                    ><span class="font-weight-bold">{{ name }}</span></a
                  >
                  <span class="text-muted font-small-2"> @{{ row.username }}</span>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Email" prop="email" [width]="200"></ngx-datatable-column>
          <ngx-datatable-column name="Role" prop="role" [width]="100">
            <ng-template let-role="value" ngx-datatable-cell-template>
              <div>
                <i
                  class="feather font-medium-3"
                  [ngClass]="{
                    'icon-edit-2 text-info': role == 'Editor',
                    'icon-settings text-warning': role == 'Author',
                    'icon-database text-success': role == 'Maintainer',
                    'icon-user text-primary': role == 'Subscriber',
                    'icon-slack text-danger': role == 'Admin'
                  }"
                ></i>
                {{ role }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Plan" prop="currentPlan" [width]="100"></ngx-datatable-column>
          <ngx-datatable-column name="Status" prop="status" [width]="50">
            <ng-template let-status="value" ngx-datatable-cell-template>
              <div
                class="badge badge-pill"
                [ngClass]="{
                  'badge-light-success': status == 'active',
                  'badge-light-secondary': status == 'inactive',
                  'badge-light-warning': status == 'pending'
                }"
              >
                {{ status }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div ngbDropdown container="body">
                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                  <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                </button>
                <div ngbDropdownMenu>
                  <a routerLink="/apps/user/user-view/{{ row.id }}" ngbDropdownItem
                    ><span [data-feather]="'file-text'" [size]="16" [class]="'mr-50'"></span> Details</a
                  ><a routerLink="/apps/user/user-edit/{{ row.id }}" ngbDropdownItem
                    ><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span> Edit</a
                  ><a href="javascript:;" ngbDropdownItem
                    ><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> Delete</a
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          
        </ngx-datatable> -->
      </div>
    </section>
    <!--/ User List -->
  </div>

  <!-- New User Sidebar -->
  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="new-user-sidebar"
    overlayClass="modal-backdrop"
  >
    <app-new-user-sidebar></app-new-user-sidebar>
  </core-sidebar>

  <core-sidebar
  class="modal modal-slide-in sidebar-todo-modal fade"
  name="change-password-sidebar"
  overlayClass="modal-backdrop"
>
  <app-change-password-sidebar></app-change-password-sidebar>
</core-sidebar>

<core-sidebar
class="modal modal-slide-in sidebar-todo-modal fade"
name="reset-password-sidebar"
overlayClass="modal-backdrop"
>
<app-reset-password-sidebar></app-reset-password-sidebar>
</core-sidebar>

</div>
