// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
.notification-icon{
    vertical-align: middle;
}

.notification-message{
    padding: 0px 20px 0px 10px;
    vertical-align: middle;
}

.notification-button{
    line-height: inherit;
    padding: 2px;
}
