<div class="content-wrapper">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body">
        <section class="users-list-wrapper" style="margin-bottom: -10px;">
            <div class="card  them-bg-color">
                <div class="card-body" style="padding: 5px;">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="mb-0">Client Asset List </h4>
                        </div>
                        <div class="col-lg-8">
                            <div class="row d-flex sur-continer mr-0">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-3 sur">
                                    <h5 class="text-primary">Survey: 129</h5>
                                </div>
                                <div class="col-sm-3 sur">
                                    <h5 class="text-primary">Installation: 300</h5>
                                </div>
                                <div class=" col-sm-4 sur">
                                    <h5 class="text-primary">Commissioning: 550</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive border">
                        <table class="table mb-0 ">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-nowrap">Sr. No.</th>
                                    <th scope="col" class="text-nowrap">Asset Serial Number</th>
                                    <th scope="col" class="text-nowrap">Sales Order No</th>
                                    <th scope="col" class="text-nowrap">Site Name</th>
                                    <th scope="col" class="text-nowrap">Client</th>
                                    <th scope="col" class="text-nowrap">Part Code</th>
                                    <th scope="col" class="text-nowrap">Asset Description</th>
                                    <th scope="col" class="text-nowrap">Warranty Status</th>
                                    <th scope="col" class="text-nowrap">IRF</th>
                                    <th scope="col" class="text-nowrap">Survey</th>
                                    <th scope="col" class="text-nowrap">Installation</th>
                                    <th scope="col" class="text-nowrap">Commissioning</th>
                                    <th scope="col" class="text-nowrap">Created Date</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let asset of assets.content; let i=index;" class="bm-tr">      
                                    <td class="bd-top">{{ i+1 }}</td>
                                    <td><a routerLink="/comp-assets" class="no-st-text-b">{{ asset?.serialNo }}</a></td>
                                    <td class="bd-top">{{ asset?.salesOrderId }}</td>
                                    <td class="bd-top">{{ asset?.siteName }}</td>
                                    <td class="bd-top">{{ asset?.accountName }}</td>
                                    <td class="bd-top">{{ asset?.productName }}</td>
                                    <td class="bd-top">{{ asset?.productDescription }}</td>
                                    <td *ngIf="asset.warrantyStatus"> <a routerLink="/commission-form"> <i data-feather="flag"
                                        class="font-medium-4 text-success"></i> </a> </td>
                                    <td *ngIf="!asset.warrantyStatus"> <a routerLink="/commission-form"> <i data-feather="flag"
                                        class="font-medium-4 text-danger"></i> </a> </td>
                                    <td>
                                        <button
                                            class="btn btn-sm btn-primary btn-touchspin btn-touchspin-down"
                                            [disabled]="true"
                                            [ngClass]="{
                                            'btn-default': asset.irfStatusName == '',
                                            'btn-secondary': asset.irfStatusName == 'notRequired',
                                            'btn-success': asset.irfStatusName == 'completed',
                                            'btn-danger': asset.irfStatusName == 'inProcess'
                                            }"
                                            >
                                            <span *ngIf="asset.isIrfGenerated" data-feather="check"></span>
                                            <span *ngIf="!asset.isIrfGenerated" data-feather="x"></span>
                                        </button>
                                    </td>

                                    <td>
                                        <button
                                            class="btn btn-sm btn-primary btn-touchspin btn-touchspin-down"
                                            [disabled]="true"
                                            [ngClass]="{
                                            'btn-default': asset.surveyStatusName == '',
                                            'btn-secondary': asset.surveyStatusName == 'notRequired',
                                            'btn-success': asset.surveyStatusName == 'completed',
                                            'btn-danger': asset.surveyStatusName == 'inProcess'
                                            }"
                                            >
                                            <span *ngIf="asset.isSurveyGenerated" data-feather="check"></span>
                                            <span *ngIf="!asset.isSurveyGenerated" data-feather="x"></span>
                                        </button>
                                    </td>

                                    <td>
                                        <button
                                            class="btn btn-sm btn-primary btn-touchspin btn-touchspin-down"
                                            [disabled]="true"
                                            [ngClass]="{
                                            'btn-default': asset.installationStatusName == '',
                                            'btn-secondary': asset.installationStatusName == 'notRequired',
                                            'btn-success': asset.installationStatusName == 'completed',
                                            'btn-danger': asset.installationStatusName == 'inProcess'
                                            }"
                                            >
                                            <span *ngIf="asset.isInstallationGenerated" data-feather="check"></span>
                                            <span *ngIf="!asset.isInstallationGenerated" data-feather="x"></span>
                                        </button>
                                    </td>

                                    <td>
                                        <button
                                            class="btn btn-sm btn-primary btn-touchspin btn-touchspin-down"
                                            [disabled]="true"
                                            [ngClass]="{
                                            'btn-default': asset.commissioningStatusName == '',
                                            'btn-secondary': asset.commissioningStatusName == 'notRequired',
                                            'btn-success': asset.commissioningStatusName == 'completed',
                                            'btn-danger': asset.commissioningStatusName == 'inProcess'
                                            }"
                                            >
                                            <span *ngIf="asset.isCommissioningGenerated" data-feather="check"></span>
                                            <span *ngIf="!asset.isCommissioningGenerated" data-feather="x"></span>
                                        </button>
                                    </td>

                                    <td class="bd-top">{{ asset?.createdDate | date:'short':'IST' }}</td>                
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>