<div class="content-wrapper container-xxl p-0 ">
    <div *ngIf="loading"><app-spinner></app-spinner></div>
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body">
        <section class="users-list-wrapper" style="margin-bottom: -10px;">
            <div class="card  them-bg-color">
                <div class="card-body" style="padding: 5px;">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="mb-0">Client Asset List </h4>
                        </div>
                        <div class="col-lg-8">
                            <div class="row d-flex sur-continer mr-0">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-3 sur">
                                    <h5 class="text-primary">Survey: 129</h5>
                                </div>
                                <div class="col-sm-3 sur">
                                    <h5 class="text-primary">Installation: 300</h5>
                                </div>
                                <div class=" col-sm-4 sur">
                                    <h5 class="text-primary">Commissioning: 550</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class=" col-lg-12 ">
                <div class="card-body bg-white p-0 ">
                    <ul ngbNav #nav="ngbNav" class="nav-tabs tb-border mb-0">
                        <li ngbNavItem>
                            <ng-template ngbNavContent>
                                <div class="table-responsive border">
                                    <p-table [value]="assets" [lazy]="false" styleClass="p-datatable-gridlines p-datatable-striped"
                                    responsiveLayout="scroll"   [style]="{width:'2000px'}"
                                    dataKey="id" [paginator]="true" [rows]="noOfRows"
                                    [totalRecords]="totalRecords">
                                    <ng-template pTemplate="header">
                                       <!-- [rowsPerPageOptions]="[5,10,15]"  data.SalesOrder[0].clients.clientName-->
                                       <tr class="bg-white">
                                           <th scope="col" >Sr. No.</th>
                                           <th scope="col" >Asset Serial Number</th>
                                           <th scope="col" >Sales Order No</th>
                                           <th scope="col" >Site Name</th>
                                           <th scope="col" >Client</th>
                                           <th scope="col" >Part Code</th>
                                           <th scope="col" >Asset Description</th>
                                           <th scope="col" >Warranty Status</th>
                                           <th scope="col" >     IRF     </th>
                                           <th scope="col" >    Survey   </th>
                                           <th scope="col" >Installation</th>
                                           <th scope="col" >Commissioning</th>
                                           <th scope="col" >Created Date</th>
                                       </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-asset let-rowIndex="rowIndex">
                                      
                                       <tr>
                                           <td >{{ rowIndex+1 }}</td>
                                           <td ><a (click)="passAssetData(rowIndex)" routerLink="/comp-assets" class="no-st-text-b">{{ asset?.serialNo }}</a></td>
                                           <td >{{ asset?.salesOrderId }}</td>
                                           <td >{{ asset?.siteName }}</td>
                                           <td >{{ asset?.accountName }}</td>
                                           <td >{{ asset?.productName }}</td>
                                           <td >{{ asset?.productDescription }}</td>
                                           <td *ngIf="asset.warrantyStatus===1"> <a routerLink="/commission-form"> <i data-feather="flag"
                                               class="font-medium-4 text-success"></i> </a> </td>
                                           <td *ngIf="asset.warrantyStatus===0"> <a routerLink="/commission-form"> <i data-feather="flag"
                                               class="font-medium-4 text-danger"></i> </a> </td>
                                           <td>
                                               <button
                                                   class="btn btn-sm btn-primary btn-touchspin btn-touchspin-down"
                                                   [disabled]="true"
                                                   [ngClass]="{
                                                   'btn-default': asset.irfStatusName == '',
                                                   'btn-secondary': asset.irfStatusName == 'notRequired',
                                                   'btn-success': asset.irfStatusName == 'completed',
                                                   'btn-danger': asset.irfStatusName == 'inProcess'
                                                   }"
                                                   >
                                                   <span *ngIf="asset.isIrfGenerated" data-feather="check"></span>
                                                   <span *ngIf="!asset.isIrfGenerated" data-feather="x"></span>
                                               </button>
                                           </td>
                                    
                                           <td>
                                               <button
                                                   class="btn btn-sm btn-primary btn-touchspin btn-touchspin-down"
                                                   [disabled]="true"
                                                   [ngClass]="{
                                                   'btn-default': asset.surveyStatusName == '',
                                                   'btn-secondary': asset.surveyStatusName == 'notRequired',
                                                   'btn-success': asset.surveyStatusName == 'completed',
                                                   'btn-danger': asset.surveyStatusName == 'inProcess'
                                                   }"
                                                   >
                                                   <span *ngIf="asset.isSurveyGenerated" data-feather="check"></span>
                                                   <span *ngIf="!asset.isSurveyGenerated" data-feather="x"></span>
                                               </button>
                                           </td>
                                    
                                           <td>
                                               <button
                                                   class="btn btn-sm btn-primary btn-touchspin btn-touchspin-down"
                                                   [disabled]="true"
                                                   [ngClass]="{
                                                   'btn-default': asset.installationStatusName == '',
                                                   'btn-secondary': asset.installationStatusName == 'notRequired',
                                                   'btn-success': asset.installationStatusName == 'completed',
                                                   'btn-danger': asset.installationStatusName == 'inProcess'
                                                   }"
                                                   >
                                                   <span *ngIf="asset.isInstallationGenerated" data-feather="check"></span>
                                                   <span *ngIf="!asset.isInstallationGenerated" data-feather="x"></span>
                                               </button>
                                           </td>
                                    
                                           <td>
                                               <button
                                                   class="btn btn-sm btn-primary btn-touchspin btn-touchspin-down"
                                                   [disabled]="true"
                                                   [ngClass]="{
                                                   'btn-default': asset.commissioningStatusName == '',
                                                   'btn-secondary': asset.commissioningStatusName == 'notRequired',
                                                   'btn-success': asset.commissioningStatusName == 'completed',
                                                   'btn-danger': asset.commissioningStatusName == 'inProcess'
                                                   }"
                                                   >
                                                   <span *ngIf="asset.isCommissioningGenerated" data-feather="check"></span>
                                                   <span *ngIf="!asset.isCommissioningGenerated" data-feather="x"></span>
                                               </button>
                                           </td>
                                    
                                           <td >{{ asset?.createdDate | date:'medium':'IST' }}</td> 
                                       </tr>
                                    </ng-template>
                                    </p-table>
                                </div>
                                
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class=""></div>
                </div>
            </div>
        </div>
    </div>
</div>