<div class="slideout-content">
  <!-- Modal to add new user starts-->
  <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
    <div class="modal-dialog">
      <form [formGroup]="userForm" class="add-new-user modal-content pt-0" (ngSubmit)="submit()">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="toggleSidebar('new-user-sidebar')">
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">New User</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="account">Account</label>
            <input list="accountlist" (change)=" getAccountId($event)" (keydown)="getAccounts($event)" type="text" formControlName="account" [class.is-invalid]="userForm.get('account').errors && (userForm.get('account').touched || userForm.get('account').dirty)" class="form-control dt-full-name" id="basic-icon-default-account"
              placeholder="Search" name="user-account" 
               />
            <datalist id="accountlist">
                <option *ngFor="let a of accounts"  [value]="a.name" >{{a.name}}</option>
            </datalist> 
            <span *ngIf="userForm.get('account').errors && (userForm.get('account').touched || userForm.get('account').dirty)" class="invalid-form">
              <small class="form-text text-danger">This field is required !</small>
            </span>
          </div>
          <div class="form-group">
            <label class="form-label" for="contact">Contact</label>
            <input list="contactlist"  (change)=" getContactId($event)" (keydown)="getContacts($event)" type="text" formControlName="contact" [class.is-invalid]="userForm.get('contact').errors && (userForm.get('contact').touched || userForm.get('contact').dirty)" class="form-control dt-full-name" id="basic-icon-default-contact"
              placeholder="Search" name="user-contact" 
               />
            <datalist id="contactlist">
                <option *ngFor="let c of contacts" [value]="c.fullName" >{{c.fullName}}</option>
            </datalist> 
            <span *ngIf="userForm.get('contact').errors && (userForm.get('contact').touched || userForm.get('contact').dirty)" class="invalid-form">
              <small class="form-text text-danger">This field is required !</small>
            </span>
          </div>
          
          <div class="form-group">
            <label class="form-label" for="role">Role</label>
            <input list="rolelist"  (keydown)="getRoles($event)" type="text" formControlName="role" [class.is-invalid]="userForm.get('role').errors && (userForm.get('role').touched || userForm.get('role').dirty)" class="form-control dt-full-name" id="basic-icon-default-role"
              placeholder="Search" name="user-role" 
               />
            <datalist id="rolelist">
                <option *ngFor="let r of roles" [value]="r.role" >{{r.role}}</option>
            </datalist> 
            <span *ngIf="userForm.get('role').errors && (userForm.get('role').touched || userForm.get('role').dirty)" class="invalid-form">
              <small class="form-text text-danger">This field is required !</small>
            </span>
          </div>


          <div class="form-group">
            <label class="form-label" for="manager">Manager</label>
            <input list="managerlist"  (change)=" getManagerId($event)" (keydown)="getManagers($event)" type="text" formControlName="manager" [class.is-invalid]="userForm.get('manager').errors && (userForm.get('manager').touched || userForm.get('manager').dirty)" class="form-control dt-full-name" id="basic-icon-default-manager"
              placeholder="Search" name="user-manager" 
               />
            <datalist id="managerlist">
                <option *ngFor="let m of managers" [value]="m.name" >{{m.name}}</option>
            </datalist> 
            <span *ngIf="userForm.get('manager').errors && (userForm.get('manager').touched || userForm.get('manager').dirty)" class="invalid-form">
              <small class="form-text text-danger">This field is required !</small>
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="profile">Profile</label>
            <input list="profilelist"  (change)=" getProfileId($event)" (keydown)="getProfiles($event)" type="text" formControlName="profile" [class.is-invalid]="userForm.get('profile').errors && (userForm.get('profile').touched || userForm.get('profile').dirty)" class="form-control dt-full-name" id="basic-icon-default-profile"
              placeholder="Search" name="user-profile" 
               />
            <datalist id="profilelist">
                <option *ngFor="let p of profiles" [value]="p.name" >{{p.name}}</option>
            </datalist> 
            <span *ngIf="userForm.get('profile').errors && (userForm.get('profile').touched || userForm.get('profile').dirty)" class="invalid-form">
              <small class="form-text text-danger">This field is required !</small>
            </span>
          </div>
        
          <div class="form-group">
            <label class="form-label" for="circleId">Circle</label>
            <select formControlName="circleId" [class.is-invalid]="userForm.get('circleId').errors && (userForm.get('circleId').touched || userForm.get('circleId').dirty)" id="user-role" class="form-control">
              <option value="">Select Circle</option>
              <option *ngFor="let c of circles" [value]="c.id" >{{c.name}}</option>
            </select>
            <span *ngIf="userForm.get('circleId').errors && (userForm.get('circleId').touched || userForm.get('circleId').dirty)" class="invalid-form">
              <small class="form-text text-danger">This field is required !</small>
            </span>
          </div>

         
          <div class="form-group">
            <label class="form-label" for="password">Password </label>
            <input type="password" formControlName="password" [class.is-invalid]="userForm.get('password').errors && (userForm.get('password').touched || userForm.get('password').dirty)" id="basic-icon-default-password2" class="form-control dt-password"
              placeholder="*********"  name="user-password"/>
              <span *ngIf="userForm.get('password').errors && (userForm.get('password').touched || userForm.get('password').dirty)" class="invalid-form">
                <small class="form-text text-danger">This field is required !</small>
              </span>

          </div>
          <div class="form-group">
            <label class="form-label" for="repassword">Re-Enter Password </label>
            <input type="password" formControlName="repassword" [class.is-invalid]="userForm.get('repassword').errors && (userForm.get('repassword').touched || userForm.get('repassword').dirty)" id="basic-icon-default-repassword2" class="form-control dt-repassword"
              placeholder="*********"  name="user-repassword"/>
              <span *ngIf="userForm.get('repassword').errors && (userForm.get('repassword').touched || userForm.get('repassword').dirty)" class="invalid-form">
                <small class="form-text text-danger">This field is required !</small>
              </span>
        
          </div>

        
         

         

          <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary mr-1" rippleEffect>Submit</button>
          <button type="reset" class="btn btn-outline-secondary" (click)="toggleSidebar('new-user-sidebar')"
            rippleEffect>
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new user Ends-->
</div>