<div class="content-wrapper">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <form>
                        <div class="card-body pt-1">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <h5 class="card-titleb blue-clr ">Survey Details </h5>
                                    <div class="row">

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="name">IRF Request Number </label>
                                                <input type="name" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">Service Request Number
                                                </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">Client Name

                                                </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">
                                                    Client Code
                                                </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="name">Address</label>
                                                <input type="name" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">Pin Code
                                                </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">City

                                                </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">
                                                    State
                                                </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="name">Country</label>
                                                <input type="name" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">Latitude
                                                </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">Longitude </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="name">Survey Date </label>
                                                <ng2-flatpickr [ngClass]="'firstsecond'" [config]="basicDateOptions"  placeholder="Pick a date!"
                                                    name="basicDate"></ng2-flatpickr>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="name">Name of the Site </label>
                                                <input type="name" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">Site ID </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">Product Type </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">
                                                    Quantity
                                                </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">Infra Type </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">Contact Person at site </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">Contact Number

                                                </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="password">
                                                    Alternate Contact Number
                                                </label>
                                                <input type="fdf" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="name">Email ID
                                                </label>
                                                <input type="name" class="form-control form-control-sm"
                                                    placeholder="Please Enter">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-s321a">
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th width="20%">Check Points
                                                    </th>
                                                    <th width="40%">Requirement/Recommendation
                                                    </th>
                                                    <th width="10%">Tick
                                                    </th>
                                                    <th width="30%">Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td valign="middle">Earthing </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-12">Proper earthing available customer
                                                                end
                                                                for earthing the charger (Measure voltage if
                                                                possible)
                                                                Permissible Neutral to Earth Voltage difference less
                                                                than 2V</div>
                                                            <div class="col-12">Supply & Installation of
                                                                EARTHINGS
                                                                Pit for AC/DC Charger by Exicom.</div>

                                                        </div>
                                                    </td>
                                                    <td class="vtopalq">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                        id="customCheckbox1a" value="option1a">
                                                                    <label for="customCheckbox1a"
                                                                        class="custom-control-label pl-2 pt-2sderr">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12  mt-3">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                        id="customCheckbox1a" value="option1a">
                                                                    <label for="customCheckbox1a"
                                                                        class="custom-control-label pl-2 pt-2sderr">
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <input type="fdf"
                                                                        class="form-control form-control-sm">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mt-2">
                                                                <div class="form-group">
                                                                    <input type="fdf"
                                                                        class="form-control form-control-sm">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle">DB with MCB
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-12">DB with MCB Rating 4 Pole 32 Amps
                                                                with
                                                                32 Phase Power connection with in 3 meter distance
                                                                from
                                                                AC charger to be provided by Customer</div>
                                                            <div class="col-12  mt-2">DB with MCB Rating 4 Pole 63
                                                                Amps
                                                                with3 Phase Power collect on within 3 meter distance
                                                                from DC charger to be provided by Customer</div>

                                                        </div>
                                                    </td>
                                                    <td class="vtopalq">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                        id="customCheckbox1a" value="option1a">
                                                                    <label for="customCheckbox1a"
                                                                        class="custom-control-label pl-2 pt-2sderr">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12  mt-3">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                        id="customCheckbox1a" value="option1a">
                                                                    <label for="customCheckbox1a"
                                                                        class="custom-control-label pl-2 pt-2sderr">
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <input type="fdf"
                                                                        class="form-control form-control-sm">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mt-2">
                                                                <div class="form-group">
                                                                    <input type="fdf"
                                                                        class="form-control form-control-sm">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle">Installation of AC Charger




                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-12">Construction of CC base, MS Stand,
                                                                fixing & powering of AC charger by Exicom</div>
                                                            <div class="col-12  mt-2">Installation & Powering of AC
                                                                charger on Wall Mount by Exicom</div>

                                                        </div>
                                                    <td class="vtopalq">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                        id="customCheckbox1a" value="option1a">
                                                                    <label for="customCheckbox1a"
                                                                        class="custom-control-label pl-2 pt-2sderr">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12  mt-3">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                        id="customCheckbox1a" value="option1a">
                                                                    <label for="customCheckbox1a"
                                                                        class="custom-control-label pl-2 pt-2sderr">
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <input type="fdf"
                                                                        class="form-control form-control-sm">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mt-2">
                                                                <div class="form-group">
                                                                    <input type="fdf"
                                                                        class="form-control form-control-sm">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle">Installation of DC Charger







                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-12">Supply, Installation & Powering of
                                                                DC
                                                                Charger with MS stand on existing CC floor by Exicom
                                                            </div>
                                                            <div class="col-12  mt-2">Installation & Powering of DC
                                                                Charger by Exicom on constructed CC Base
                                                                (700x600x300
                                                                mm) By Customer</div>
                                                            <div class="col-12  mt-2">Construction of CC base for DC
                                                                charger, fixing & powering of charger By Exicom
                                                            </div>

                                                        </div>
                                                    <td class="vtopalq">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                        id="customCheckbox1a" value="option1a">
                                                                    <label for="customCheckbox1a"
                                                                        class="custom-control-label pl-2 pt-2sderr">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12  mt-3">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                        id="customCheckbox1a" value="option1a">
                                                                    <label for="customCheckbox1a"
                                                                        class="custom-control-label pl-2 pt-2sderr">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12  mt-3">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                        id="customCheckbox1a" value="option1a">
                                                                    <label for="customCheckbox1a"
                                                                        class="custom-control-label pl-2 pt-2sderr">
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <input type="fdf"
                                                                        class="form-control form-control-sm">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mt-2">
                                                                <div class="form-group">
                                                                    <input type="fdf"
                                                                        class="form-control form-control-sm">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mt-2">
                                                                <div class="form-group">
                                                                    <input type="fdf"
                                                                        class="form-control form-control-sm">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle">Charger protectors (Optional - To be Billed
                                                        Separately




                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-12">Supply & Installation of Rubber
                                                                Wheel
                                                                Stopper (1600 Length X 160 Width X 100 Height) X 1
                                                                No.
                                                                per EV Charger for Protection</div>
                                                            <div class="col-12  mt-2">Supply & Installation of
                                                                Bollards
                                                                (4.5" Dia & 36 Height) X 2 Nos. on existing CC floor

                                                            </div>
                                                            <div class="col-12  mt-2">Supply &Installation of
                                                                Bollards
                                                                (4.5" Dia & 36 Height) X 2 Nos. with CC base</div>

                                                        </div>
                                                    <td class="vtopalq">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                        id="customCheckbox1a" value="option1a">
                                                                    <label for="customCheckbox1a"
                                                                        class="custom-control-label pl-2 pt-2sderr">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12  mt-3">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                        id="customCheckbox1a" value="option1a">
                                                                    <label for="customCheckbox1a"
                                                                        class="custom-control-label pl-2 pt-2sderr">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12  mt-3">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                        id="customCheckbox1a" value="option1a">
                                                                    <label for="customCheckbox1a"
                                                                        class="custom-control-label pl-2 pt-2sderr">
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <input type="fdf"
                                                                        class="form-control form-control-sm">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mt-2">
                                                                <div class="form-group">
                                                                    <input type="fdf"
                                                                        class="form-control form-control-sm">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mt-2">
                                                                <div class="form-group">
                                                                    <input type="fdf"
                                                                        class="form-control form-control-sm">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle">Tentative Installation Date


                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-12">Check by what time all the things
                                                                required will be made available by the client</div>


                                                        </div>
                                                    <td class="vtopalq">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                        id="customCheckbox1a" value="option1a">
                                                                    <label for="customCheckbox1a"
                                                                        class="custom-control-label pl-2 pt-2sderr">
                                                                    </label>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <input type="fdf"
                                                                        class="form-control form-control-sm">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <hr class="mt-4vvvv mb-0">
                                    </div>
                                </div>
                            </div>

                            <div class="row ml-0 mt-1">
                                <div class="col-lg-12 ">
                                    <h5 class="card-titleb blue-clr">Remarks (If Any)
                                    </h5>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mb-0">
                                        <textarea name="textarea" id="textarea" cols="45" rows="2"
                                            class="form-control form-control-sm" placeholder="Please Enter"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-0 mt-1">
                                <div class="col-lg-3">
                                    <fieldset class="form-group">
                                        <div class="d-flex justify-content-between">
                                            <label for="file-upload-single" class="fnt-weight500 blue-clr">Drawing
                                                Layout for
                                                Charger
                                            </label>
                                            <div *ngFor="let item1 of uploader.queue">
                                                <small>{{ item1?.file?.name }}</small>
                                            </div>
                                            <!-- <small>{{ uploader?.file?.name }}</small> -->
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" type="file" ng2FileSelect
                                                [uploader]="uploader" id="file-upload-single" />
                                            <label class="custom-file-label"> <i data-feather="upload" class="mr-1"></i>
                                                Upload File</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row ml-0">
                                <div class="col-lg-6 pr-5">
                                    <div class="form-group mb-0">
                                        <label for="password" class="card-titleb">
                                            <h5 class="card-titleb">Exicom Tasks (With completion date)
                                            </h5>
                                        </label>
                                        <textarea name="textarea" id="textarea" cols="45" rows="2"
                                            class="form-control form-control-sm" placeholder="Please Enter"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6 pl-5">
                                    <div class="form-group mb-0">
                                        <label for="password">
                                            <h5 class="card-titleb">Customer Tasks (With completion date)
                                            </h5>
                                        </label>
                                        <textarea name="textarea" id="textarea" cols="45" rows="2"
                                            class="form-control form-control-sm" placeholder="Please Enter"></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="row ml-0 mt-1">
                                <div class="col-lg-3  ">
                                    <div class="form-group mb-0">
                                        <label for="password">Engineer Name
                                        </label>
                                        <input type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>

                                <div class="col-lg-3 ">
                                    <div class="form-group mb-0">
                                        <label for="password">Employee Code
                                        </label>
                                        <input type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-3 ">
                                    <fieldset class="form-group mb-0">
                                        <div class="d-flex justify-content-between">
                                            <label for="file-upload-single">Signature</label>
                                            <div *ngFor="let item of uploader.queue">
                                                <small>{{ item?.file?.name }}</small>
                                            </div>
                                            <!-- <small>{{ uploader?.file?.name }}</small> -->
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" type="file" ng2FileSelect
                                                [uploader]="uploader" id="file-upload-single" />
                                            <label class="custom-file-label"> <i data-feather="upload" class="mr-1"></i>
                                                Upload File</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row ml-0 mt-1">
                                <div class="col-lg-3  ">
                                    <div class="form-group mb-0">
                                        <label for="password">Customer Representative Name
                                        </label>
                                        <input type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <fieldset class="form-group mb-0">
                                        <div class="d-flex justify-content-between">
                                            <label for="file-upload-single">Signature</label>
                                            <div *ngFor="let item of uploader.queue">
                                                <small>{{ item?.file?.name }}</small>
                                            </div>
                                            <!-- <small>{{ uploader?.file?.name }}</small> -->
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" type="file" ng2FileSelect
                                                [uploader]="uploader" id="file-upload-single" />
                                            <label class="custom-file-label"> <i data-feather="upload" class="mr-1"></i>
                                                Upload File</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center pt-0 py-1">
                            <button type="submit" class="btn btn-primary mr-4">Save as Draft</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>