<div class="content-wrapper">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <form [formGroup]="installationForm">
                        <div class="card-body">
                            <div class="row mb-1 mt-0">
                                <div
                                    style="background-color: #f4f5f5; padding: 6px 0 0 0;  border: 1px solid #6e63e5; width: 100%;">
                                    <h6 class="ml-1">Installation Details
                                    </h6>
                                </div>
                            </div>
                            <div class="row">
                                <h6 class="card-titleb blue-clr border-bottom-dc">Customer Details</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="name">Installation Case Number </label>
                                        <input formControlName="id" type="name"  class="form-control form-control-sm"
                                             disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="password">Service Request Number</label>
                                        <input formControlName="soNumber"  type="text" class="form-control form-control-sm"
                                             disabled>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="name">Client Name </label>
                                        <input formControlName="clientName" type="name" class="form-control form-control-sm"
                                        disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="name">Client Code</label>
                                        <input formControlName="clientCode" type="name" class="form-control form-control-sm"
                                        disabled>
                                    </div>
                                </div>

                            </div>

                            <!-- <div class="row">
                                <h6 class="card-titleb blue-clr border-bottom-dc">Asset Details</h6>
                            </div>

                            <div class="row">
                                <div class="col-lg-2 col-md-6">
                                    <div class="form-group">
                                        <label for="name">Type Of Charger</label>
                                        <input formControlName="typeOfCharger" type="name" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6">
                                    <div class="form-group">
                                        <label for="password">Model Number </label>
                                        <input formControlName="modelNumber" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="column223">
                                            <label for="name">Serial Number</label>
                                        </div>
                                        <div class="d-flex">
                                            <input formControlName="serialNumber" type="name" class="form-control form-control-sm border-radiousf1"
                                                maxlength="8" placeholder="Please1 Enter">
                                            <input formControlName="dateOfDelivery" type="name" class="form-control form-control-sm border-radiousf1a"
                                                maxlength="16" placeholder="Please2 Enter">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6">
                                    <div class="form-group">
                                        <label for="password">Date of Delivery</label>
                                        <input formControlName="dateOfDelivery" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6">
                                    <div class="form-group">
                                        <label for="password">
                                            Date of Dispatch</label>
                                        <input formControlName="dateOfDispatch" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                            </div> -->

                            <div class="row">
                                <h6 class="card-titleb blue-clr border-bottom-dc">Installation Details</h6>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            Name Of the Site </label>
                                        <input formControlName="siteName" type="name" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="name">Installation Address
                                        </label>
                                        <input formControlName="address" type="name" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                               
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="siteId">Site ID</label>
                                        <input (keydown)="getSiteData($event)" formControlName="siteId" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <!-- <div class="form-group">
                                        <label for="password">State</label>
                                        <input formControlName="stateId" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div> -->
                                    <div class="form-group">
                                        <label for="name">Country

                                        </label>
                                        <select id="countryid" formControlName="countryId" class="form-control">
                                            <option value="">Select Country</option>
                                            <option *ngFor="let country of countryMap" [value]="country.countryId" >{{country.countryName}}</option>
                                        </select>
                                    </div>
                              
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <select id="stateid" formControlName="stateId" class="form-control">
                                            <option value="">Select State</option>
                                            <option *ngFor="let state of stateMap" [value]="state.stateId" >{{state.stateName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="name">Installation Date </label>
                                        <!-- <ng2-flatpickr [ngClass]="'firstsecond'" [config]="basicDateOptions"
                                            name="basicDate"></ng2-flatpickr> -->
                                            <input  formControlName="installationDate" type="date" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="password"> Point of Installation
                                        </label>
                                        <input formControlName="pointOfInstallation" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="password"> Pin Code</label>
                                        <input formControlName="pincode" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                               

                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            City
                                        </label>
                                        <input formControlName="city" type="name" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                   
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="password">Contact Person at Site
                                        </label>
                                        <input formControlName="contactPersonAtSite" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="password"> Contact Number</label>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text  input-text-p1">91</span>
                                            </div>
                                            <input formControlName="contactNumber" type="text" class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="password">Alternate Contact Number</label>
                                        <div class="input-group input-group-sm ">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-text-p1">91</span>
                                            </div>
                                            <input formControlName="alternateContactNumber" type="text" class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="password">Email ID
                                        </label>
                                        <input formControlName="email" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="basicSelect">Installation Type</label>
                                        <select formControlName="installationTypeId" class="form-control form-control-sm" id="basicSelect" type="text"
                                            (change)="onChange($event); toggleTable()" >
                                            <option selected>Select Menu</option>
                                            <option value="2"> DC Charger</option>
                                            <option value="1"> AC001</option>
                                            <option value="3"> Type 2 EV Charger</option>
                                        </select>
                                    </div>
                                
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="password">Installation Status
                                        </label>
                                        <input formControlName="installationStatus" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="name">Installed By (vendor Name)
                                        </label>
                                        <input formControlName="installedByVendor" type="name" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            Cable Size

                                        </label>
                                        <input formControlName="cableSize" type="name" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label for="password">Cable Length Used (in meters)
                                        </label>
                                        <input formControlName="cableLength" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>

                              
                            </div>

                            <div class="row">
                                <div class="in-table-st11 col-md-12 ">
                                    <div class="table-responsive-sm">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="40%" scope="col" class="text-nowrap">Description </th>
                                                    <th scope="col" class="text-nowrap"> Responsibility </th>
                                                    <th  scope="col" class="text-nowrap">
                                                        DC Charger </th>
                                                    <th scope="col" class="text-nowrap">
                                                        AC001 Charger </th>
                                                    <th scope="col"
                                                        class="text-nowrap"> Type 2 EV Charger </th>
                                                    <th scope="col" class="text-nowrap"> Remarks </th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="installationWorkRequestList">
                                                <tr *ngFor="let itemrow of accessInstallationWorkRequestListArray.controls; let i=index;"
                                                [formGroupName]="i" class="bm-tr">

                                                <th class="dark-heading">{{accessInstallationWorkRequestListArray.controls[i].get('description')?.value}}</th>
                                                <td> <input formControlName="responsibility" type="text" class="form-control form-control-sm"></td>
                                                <td *ngIf="selectedType === '2'"> <input formControlName="DC001Charger" type="text"
                                                        class="form-control form-control-sm"></td>
                                                <td *ngIf="selectedType !== '2'"> <input [attr.disabled]="true" formControlName="DC001Charger" type="text"
                                                        class="form-control form-control-sm"></td>
                                                <td *ngIf="selectedType === '1'"> <input formControlName="AC001Charger" type="text"
                                                        class="form-control form-control-sm"></td>
                                                <td *ngIf="selectedType !== '1'"> <input [attr.disabled]="true" formControlName="AC001Charger" type="text"
                                                        class="form-control form-control-sm"></td>
                                                <td *ngIf="selectedType === '3'"> <input formControlName="type2EvCharger" type="text"
                                                        class="form-control form-control-sm"></td>
                                                <td *ngIf="selectedType !== '3'"> <input [attr.disabled]="true" formControlName="type2EvCharger" type="text"
                                                        class="form-control form-control-sm"></td>
                                                <td> <input formControlName="remark" type="text" class="form-control form-control-sm"></td>
                                            </tr>
                                      


                                                <!-- <tr>
                                                    <th class="dark-heading">Total Charger Supplied</th>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'dc001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'ac001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'evcharger'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                </tr>
                                                <tr>
                                                    <th class="dark-heading">Charger Mounting Type</th>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'dc001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'ac001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'evcharger'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                </tr>
                                                <tr>
                                                    <th class="dark-heading">Civil Foundation Status</th>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'dc001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'ac001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'evcharger'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                </tr>
                                                <tr>
                                                    <th class="dark-heading">MCB with DB Box</th>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'dc001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'ac001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'evcharger'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                </tr>
                                                <tr>
                                                    <th class="dark-heading">Cabling Status from DB to Charger</th>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'dc001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'ac001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'evcharger'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                </tr>
                                                <tr>
                                                    <th class="dark-heading">Total Cable Consumed</th>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'dc001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'ac001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'evcharger'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                </tr>
                                                <tr>
                                                    <th class="dark-heading">Earthling Status</th>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'dc001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'ac001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'evcharger'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                </tr>
                                                <tr>
                                                    <th class="dark-heading">Canopy Status</th>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'dc001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'ac001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'evcharger'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                </tr>
                                                <tr>
                                                    <th class="dark-heading">Canopy Type</th>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'dc001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'ac001'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td *ngIf="selectedType == 'evcharger'"> <input type="text"
                                                            class="form-control form-control-sm"></td>
                                                    <td> <input type="text" class="form-control form-control-sm"></td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row border-top">
                                <div class="col-md-12 ">
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h6 class="card-titleb blue-clr border-bottom-dc">Upload Image for Reference
                                            </h6>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 border-bottom">

                                                <table>
                                                    <tr>
                                                        <td width="30%"><label for="exampleInputFile">Installation
                                                                Report
                                                            </label>
                                                            <div *ngIf="showinstallationReport">
                                                                <a [href]="installationReportFileDownloadUrl">download</a>

                                                            </div></td>
                                                        <td>
                                                           
                                                            <!-- <fieldset class="form-group w-50 mb-0">
                                                                <div class="d-flex justify-content-between">
                                                                   
                                                                    <div *ngFor="let item of uploader.queue">
                                                                        <small>{{ item?.file?.name }}</small>
                                                                    </div>
                                                                   

                                                                </div>
                                                                <div class="custom-file">
                                                                    <input  (change)="uploadImages($event, 'installationReport')" type="file" class="custom-file-input"
                                                                        type="file" ng2FileSelect [uploader]="uploader"
                                                                        id="file-upload-single" />
                                                                    <label class="custom-file-label"> <i
                                                                            data-feather="upload" class="mr-1"></i>
                                                                        Upload File</label>
                                                                </div>
                                                            </fieldset>  -->
                                                            <fieldset class="form-group w-50 mb-0">
                                                                <div class="d-flex justify-content-between">
                                                                    
                                                 
                                                              

                                                                </div>
                                                                <div class="custom-file">
                                                                    <input type="file" id="installationReportPicture" (change)="uploadImages($event, 'installationReport')">

                                                                </div>
                                                            </fieldset>
                                                           
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td width="30%"><label for="exampleInputFile">Charger
                                                                Picture
                                                            </label>
                                                            <div *ngIf="showchargerPicture">
                                                                <a [href]="chargerPictureFileDownloadUrl">download</a>

                                                            </div>
                                                      </td>
                                                        <td>
                                                           
                                                            <fieldset class="form-group w-50 mb-0">
                                                                <div class="d-flex justify-content-between">
                                                                    
                                                                  

                                                                </div>
                                                                <div class="custom-file">
                                                                    <input type="file" id="chargerPicture" (change)="uploadImages($event, 'chargerPicture')">

                                                                </div>
                                                               
                                                            </fieldset>
                                                           
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                            <div class="col-lg-6 border-bottom">
                                                <table>
                                                    <tr>
                                                        <td width="30%"><label for="exampleInputFile">Cabling
                                                                Picture
                                                            </label>
                                                            <div *ngIf="showcablingPicture">
                                                                <a [href]="cablingPictureFileDownloadUrl">download</a>

                                                            </div></td>
                                                        <td>
                                                            <fieldset class="form-group w-50 mb-0">
                                                                <div class="d-flex justify-content-between">
                                                                    
                                                                   

                                                                </div>
                                                                <div class="custom-file">
                                                                    <input type="file" id="CablingPicture" (change)="uploadImages($event, 'cablingPicture')">

                                                                </div>
                                                            </fieldset>
             
                                                      
                                                           
                                                            <!-- <fieldset class="form-group w-50 mb-0">
                                                                <div class="d-flex justify-content-between">
                                                                  
                                                                    <div *ngFor="let item of uploader.queue">
                                                                        <small>{{ item?.file?.name }}</small>
                                                                    </div>
                                                                   

                                                                </div>
                                                                <div class="custom-file">
                                                                    <input (change)="uploadImages($event, 'cablingPicture')" type="file" class="custom-file-input"
                                                                        type="file" ng2FileSelect [uploader]="uploader"
                                                                        id="Cabling" />
                                                                    <label class="custom-file-label"> <i
                                                                            data-feather="upload" class="mr-1"></i>
                                                                        Upload File</label>
                                                                </div>
                                                            </fieldset> -->
                                                        </td>
                                                    </tr>

                                                    <tr class="mb-0 pb-0">
                                                        <td width="30%"><label for="exampleInputFile">MCB
                                                                Picture
                                                            </label>
                                                            <div *ngIf="showmcbPicture">
                                                                <a [href]="mcbPictureFileDownloadUrl">download</a>

                                                            </div></td>
                                                        <td>
                                                          
                                                            <!-- <fieldset class="form-group w-50 mb-0">
                                                                <div class="d-flex justify-content-between">
                                                                   
                                                                    <div *ngFor="let item of uploader.queue">
                                                                        <small>{{ item?.file?.name }}</small>
                                                                    </div>
                                                                  

                                                                </div>
                                                                <div class="custom-file">
                                                                    <input  (change)="uploadImages($event, 'mcbPicture')" type="file" class="custom-file-input"
                                                                        type="file" ng2FileSelect [uploader]="uploader"
                                                                        id="file-upload-single" />
                                                                    <label class="custom-file-label"> <i
                                                                            data-feather="upload" class="mr-1"></i>
                                                                        Upload File</label>
                                                                </div>
                                                            </fieldset> -->
                                                            <fieldset class="form-group w-50 mb-0">
                                                                <div class="d-flex justify-content-between">
                                                                    
                                                   
                                               

                                                                </div>
                                                                <div class="custom-file">
                                                                    <input type="file" id="mcbPicture" (change)="uploadImages($event, 'mcbPicture')">

                                                                </div>
                                                            </fieldset>
                                        
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="password">Remarks
                                        </label>
                                        <textarea name="textarea" formControlName="remark" id="textarea" cols="45" rows="2"
                                            class="form-control form-control-sm" placeholder="Please Enter"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-lg-6 ">
                                    <div class="form-group  ">
                                        <label for="password" class="card-titleb">
                                            <h5 class="card-titleb">Exicom Tasks (With completion date)
                                            </h5>
                                        </label>
                                        <textarea name="textarea" id="textarea" cols="45" rows="2"
                                            class="form-control form-control-sm" placeholder="Please Enter"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group  ">
                                        <label for="password">
                                            <h5 class="card-titleb">Customer Tasks (With completion date)
                                            </h5>
                                        </label>
                                        <textarea name="textarea" id="textarea" cols="45" rows="2"
                                            class="form-control form-control-sm" placeholder="Please Enter"></textarea>
                                    </div>
                                </div>

                            </div>                    -->
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="password">Engineer Name
                                        </label>
                                        <input formControlName="exicomRepresentativeName" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-3 ">
                                    <div class="form-group">
                                        <label for="password">Employee Code

                                        </label>
                                        <input formControlName="employeeCode" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label for="exampleInputFile">Signature
                                    </label>
                                    <div *ngIf="showengineerSignature">
                                        <a [href]="engineerSignatureFileDownloadUrl">download</a>

                                    </div>
                                    <fieldset class="form-group w-50 mb-0">
                                        <div class="d-flex justify-content-between">
                                            
                                         

                                        </div>
                                        <div class="custom-file">
                                            <input type="file" id="engineerSignature" (change)="uploadImages($event, 'engineerSignature')">

                                        </div>
                                    </fieldset>
                                   
                                    <!-- <fieldset class="form-group">
                                        <div class="d-flex justify-content-between">
                                            <label for="file-upload-single">Signature</label>
                                            <div *ngFor="let item of uploader.queue">
                                                <small>{{ item?.file?.name }}</small>
                                            </div>
                                           

                                        </div>
                                        <div class="custom-file">
                                            <input (change)="uploadImages($event, 'engineerSignature')"  type="file" class="custom-file-input" type="file" ng2FileSelect
                                                [uploader]="uploader" id="file-upload-single" />
                                            <label class="custom-file-label"> <i data-feather="upload" class="mr-1"></i>
                                                Upload File</label>
                                        </div>
                                    </fieldset> -->
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-3  ">
                                    <div class="form-group">
                                        <label for="password">Customer Representative Name
                                        </label>
                                        <input formControlName="customerRepresentativeName" type="fdf" class="form-control form-control-sm"
                                            placeholder="Please Enter">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                   
                                    <label for="exampleInputFile">Signature
                                    </label>
                                    <div *ngIf="showcustomerSignature">
                                        <a [href]="customerSignatureFileDownloadUrl">Download</a>

                                    </div>
                                    <fieldset class="form-group w-50 mb-0">
                                        <div class="d-flex justify-content-between">
                                        
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" id="customerSignature" (change)="uploadImages($event, 'customerSignature')">

                                        </div>
                                    </fieldset>
                                   
                                </div>
                            </div>
                            <div class="card-footer text-center py-1">
                                <button (click)="saveAsDraft()" class="btn btn-primary mr-4">Save as Draft</button>
                                <button (click)="submitF()"  class="btn btn-primary ">Submit for
                                    Commissioning</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>