table, th, td {
  border: 1px solid #2c3459;
}

.dborder {
  height: 50px;
  margin: 10px;
  border-top: 1px solid #2c3459;
  border-bottom: 1px solid #2c3459;
}
.colborder{
  padding: 10px;
  border: 1px solid #2c3459;
}

.tx-border{
  border-left: none;
  border-right: none;
}