<div class="content-wrapper container-xxl p-0 ">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body shadow ">
        <section id="basic-tabs-components">
            <div class="row match-height">
                <div class=" col-lg-12 ">
                    <div class="card-body bg-white p-0 ">
                        <ul ngbNav #nav="ngbNav" class="nav-tabs tb-border mb-0">
                            <li ngbNavItem>
                                <ng-template ngbNavContent>
                                    <div class="table-responsive border">
                                        <p-table  (onLazyLoad)="loadData($event)" [rowsPerPageOptions]="[5,10,15,20]" paginatorPosition="bottom"  [value]="installations" [lazy]="true" styleClass="p-datatable-gridlines p-datatable-striped"
                                         responsiveLayout="scroll"  [style]="{width:'2300px'}"
                                        dataKey="id" [paginator]="true" [rows]="noOfRows"
                                        [totalRecords]="totalRecords">
                                        <ng-template pTemplate="header">
                                            <!-- [rowsPerPageOptions]="[5,10,15]"  data.SalesOrder[0].clients.clientName-->
                                            <tr class="bg-white">
                                                <th scope="col">Sr. No. </th>
                                                <th scope="col">IRF Request No. </th>
                                                <th scope="col">Installation Case No. </th>
                                                <th scope="col">Work Completion Status</th>
                                                <th scope="col">Client </th>
                                                <th scope="col">Customer Name </th>
                                                <th scope="col">Contact No. </th>
                                                <th scope="col">Email Id </th>
                                                <th scope="col">Status </th>
                                                <th scope="col">Assign To </th>
                                                <th scope="col"> Assign By </th>
                                                <th scope="col">Assign Date </th>
                                                <th scope="col"> Installation Created Date </th>
                                                <th scope="col">Installation Created By </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-installation let-rowIndex="rowIndex">
                                           
                                            <tr>
                                                <td class="bd-top">{{ rowIndex +1 }}</td>
                                                <td class="bd-top">{{ installation?.irfManualId }}</td>
                                                <!-- <td ><a [style]="{color:'blue'}" (click)="passIrfData(rowIndex)" class="no-st-text-b">{{ installation?.irfManualId }}</a></td> -->
                                                <td ><a [style]="{color:'blue'}" (click)="passInstallData(rowIndex)"  class="no-st-text-b">{{ installation?.manualId }}</a></td>
                                                <td class="bd-top">{{ installation?.workCompletionStatus }}</td>
                                                <td class="bd-top">{{ installation?.accountName }}</td>
                                                <td class="bd-top">{{ installation?.contactPersonAtSite }}</td>
                                                <td class="bd-top">{{ installation?.contactPersonPhone }}</td>
                                                <td class="bd-top">{{ installation?.contactPersonEmail }}</td>
                                                <td class="bd-top">{{ installation?.installationStatusName}}</td>
                                                <td class="bd-top">{{ installation?.ownerName }}</td>
                                                <td class="bd-top">{{ installation?.assignByName }}</td>
                                                <td class="bd-top">{{ installation?.assignDate  | date:'dd-MM-yyyy'  }}</td>
                                                <td class="bd-top">{{ installation?.createdDate  | date:'dd-MM-yyyy'  }}</td>
                                                <td class="bd-top">{{ installation?.createdByName }}</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    </div>
                                    
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav" class=""></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>