<div class="content-wrapper container-xxl p-0">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body">
        <section class="users-list-wrapper">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="irfCreationForm" (ngSubmit)="submit()">
                        <!--Row 1 -->
                        <div class="row hd-mgr12">
                            <div class="col-lg-3 col-sm-6">
                                <div class="form-group">
                                    <label for="name">SO Order Number </label>
                                    <input type="name" formControlName="soNumber" class="form-control form-control-sm"
                                        placeholder="2342345676787989">

                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="form-group">
                                    <label for="password"> Request Raised by</label>
                                    <input type="text" formControlName="requestRaisedby"
                                        class="form-control form-control-sm" placeholder="03929488754u">

                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="form-group">
                                    <label for="name">Date of Assignment </label>
                                    <p-calendar formControlName="dateOfAssignment" [class.is-invalid]="irfCreationForm.get('dateOfAssignment')
                                        .errors && (irfCreationForm.get('dateOfAssignment').touched || irfCreationForm.get('dateOfAssignment')
                                        .dirty)" dateFormat="dd-mm-yy"></p-calendar>
                                    <span
                                        *ngIf="irfCreationForm.get('dateOfAssignment').errors && (irfCreationForm.get('dateOfAssignment').touched || irfCreationForm.get('dateOfAssignment').dirty)"
                                        class="invalid-form">
                                        <small class="form-text text-danger">This field is required !</small>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="form-group">
                                    <label for="name">Tentative Plan Date</label>
                                    <p-calendar formControlName="tentativePlanDate" [class.is-invalid]="irfCreationForm.get('tentativePlanDate')
                                        .errors && (irfCreationForm.get('tentativePlanDate').touched || irfCreationForm.get('tentativePlanDate')
                                        .dirty)" dateFormat="dd-mm-yy"></p-calendar>
                                    <span
                                        *ngIf="irfCreationForm.get('tentativePlanDate').errors && (irfCreationForm.get('tentativePlanDate').touched || irfCreationForm.get('tentativePlanDate').dirty)"
                                        class="invalid-form">
                                        <small class="form-text text-danger">This field is required !</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Row2 -->
                        <div class="row">
                            <div class="col-md-12 ">
                                <h5 class="card-titleb blue-clr border-bottom-dc">Purchase Order Details
                                </h5>
                            </div>
                        </div>
                        <div class="row ml-0">
                            <div class="col-lg-2 col-sm-6">
                                <div class="form-group">
                                    <label for="name">Customer Name

                                    </label>
                                    <input type="name" formControlName="customerName" [class.is-invalid]="irfCreationForm.get('customerName')
                                    .errors && (irfCreationForm.get('customerName').touched || irfCreationForm.get('customerName')
                                    .dirty)" class="form-control form-control-sm" placeholder="Please Enter">
                                    <span
                                        *ngIf="irfCreationForm.get('customerName').errors && (irfCreationForm.get('customerName').touched || irfCreationForm.get('customerName').dirty)"
                                        class="invalid-form">
                                        <small class="form-text text-danger">This field is required !</small>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="form-group">
                                    <label for="password">Address
                                    </label>
                                    <input type="fdf" formControlName="address" [class.is-invalid]="irfCreationForm.get('address')
                                    .errors && (irfCreationForm.get('address').touched || irfCreationForm.get('address')
                                    .dirty)" class="form-control form-control-sm" placeholder="Please Enter">
                                    <span
                                        *ngIf="irfCreationForm.get('address').errors && (irfCreationForm.get('address').touched || irfCreationForm.get('address').dirty)"
                                        class="invalid-form">
                                        <small class="form-text text-danger">This field is required !</small>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-6">
                                <div class="form-group">
                                    <label for="pONoAndDate">PO No. & Date
                                    </label>
                                    <input type="name" formControlName="pONoAndDate"
                                        class="form-control form-control-sm" placeholder="Please Enter">
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="form-group">
                                    <label for="password">
                                        Contact Person Name
                                    </label>
                                    <input type="fdf" formControlName="contactPersonName" [class.is-invalid]="irfCreationForm.get('contactPersonName')
                                    .errors && (irfCreationForm.get('contactPersonName').touched || irfCreationForm.get('contactPersonName')
                                    .dirty)" class="form-control form-control-sm" placeholder="Please Enter">
                                    <span
                                        *ngIf="irfCreationForm.get('contactPersonName').errors && (irfCreationForm.get('contactPersonName').touched || irfCreationForm.get('contactPersonName').dirty)"
                                        class="invalid-form">
                                        <small class="form-text text-danger">This field is required !</small>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="form-group">
                                    <label for="password">
                                        Contact Number
                                    </label>
                                    <input type="fdf" formControlName="contactNumber" [class.is-invalid]="irfCreationForm.get('contactPersonName')
                                    .errors && (irfCreationForm.get('contactPersonName').touched || irfCreationForm.get('contactPersonName')
                                    .dirty)" (keypress)="onlyNumber($event)" maxlength="10"
                                        class="form-control form-control-sm" placeholder="Please Enter">
                                    <span
                                        *ngIf="irfCreationForm.get('contactNumber').errors && (irfCreationForm.get('contactNumber').touched || irfCreationForm.get('contactNumber').dirty)"
                                        class="invalid-form">
                                        <small class="form-text text-danger">This field is required !</small>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="form-group">
                                    <label for="password">
                                        Email- Id</label>
                                    <input type="fdf" formControlName="emailId" [class.is-invalid]="irfCreationForm.get('contactPersonName')
                                    .errors && (irfCreationForm.get('contactPersonName').touched || irfCreationForm.get('contactPersonName')
                                    .dirty)" class="form-control form-control-sm" placeholder="Please Enter">
                                    <span
                                        *ngIf="irfCreationForm.get('emailId').errors && (irfCreationForm.get('emailId').touched || irfCreationForm.get('emailId').dirty)"
                                        class="invalid-form">

                                        <span *ngIf="irfCreationForm.get('emailId').errors?.required"
                                            class="invalid-form">
                                            <small class="form-text text-danger">This field is required !</small>
                                        </span>

                                        <span *ngIf="irfCreationForm.get('emailId').errors?.email" class="invalid-form">
                                            <small class="form-text text-danger">Email is invalid !</small>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Row 3 -->
                        <!-- <div class="row">
                            <div class="col-lg-6">
                                <h5 class="card-titleb blue-clr border-bottom-dc">Charger Details</h5>

                                <div class="row">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Type of Charger
                                            </label>
                                            <input type="name" formControlName="typeOfCharger" [class.is-invalid]="irfCreationForm.get('typeOfCharger')
                                            .errors && (irfCreationForm.get('typeOfCharger').touched || irfCreationForm.get('typeOfCharger')
                                            .dirty)"
                                            class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                                <span *ngIf="irfCreationForm.get('typeOfCharger').errors && (irfCreationForm.get('typeOfCharger').touched || irfCreationForm.get('typeOfCharger').dirty)" class="invalid-form">
                                                    <small class="form-text text-danger">This field is required !</small>
                                                  </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <label for="password">Rating of Charger
                                            </label>
                                            <input type="fdf" formControlName="ratingOfCharger" [class.is-invalid]="irfCreationForm.get('ratingOfCharger')
                                            .errors && (irfCreationForm.get('ratingOfCharger').touched || irfCreationForm.get('ratingOfCharger')
                                            .dirty)"
                                            class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                                <span *ngIf="irfCreationForm.get('ratingOfCharger').errors && (irfCreationForm.get('ratingOfCharger').touched || irfCreationForm.get('ratingOfCharger').dirty)" class="invalid-form">
                                                    <small class="form-text text-danger">This field is required !</small>
                                                  </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <label for="password">Quantity</label>
                                            <input type="fdf" formControlName="quantity" [class.is-invalid]="irfCreationForm.get('quantity')
                                            .errors && (irfCreationForm.get('quantity').touched || irfCreationForm.get('quantity')
                                            .dirty)"
                                            class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                                <span *ngIf="irfCreationForm.get('quantity').errors && (irfCreationForm.get('quantity').touched || irfCreationForm.get('quantity').dirty)" class="invalid-form">
                                                    <small class="form-text text-danger">This field is required !</small>
                                                  </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="card-titleb blue-clr border-bottom-dc">I & C PO Details</h5>
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <label for="password">
                                                I & C PO Status
                                            </label>
                                            <input type="fdf" formControlName="iCpoStatus" [class.is-invalid]="irfCreationForm.get('iCpoStatus')
                                            .errors && (irfCreationForm.get('iCpoStatus').touched || irfCreationForm.get('iCpoStatus')
                                            .dirty)"
                                            class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                                <span *ngIf="irfCreationForm.get('iCpoStatus').errors && (irfCreationForm.get('iCpoStatus').touched || irfCreationForm.get('iCpoStatus').dirty)" class="invalid-form">
                                                    <small class="form-text text-danger">This field is required !</small>
                                                  </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <label for="password">
                                                I & C PO
                                            </label>
                                            <input type="fdf" formControlName="iCpo" [class.is-invalid]="irfCreationForm.get('iCpo')
                                            .errors && (irfCreationForm.get('iCpo').touched || irfCreationForm.get('iCpo')
                                            .dirty)"
                                             class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                                <span *ngIf="irfCreationForm.get('iCpo').errors && (irfCreationForm.get('iCpo').touched || irfCreationForm.get('iCpo').dirty)" class="invalid-form">
                                                    <small class="form-text text-danger">This field is required !</small>
                                                  </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <label for="password">
                                                I&C Price</label>
                                            <input type="fdf" formControlName="iCprice" [class.is-invalid]="irfCreationForm.get('iCprice')
                                            .errors && (irfCreationForm.get('iCprice').touched || irfCreationForm.get('iCprice')
                                            .dirty)"
                                             class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                                <span *ngIf="irfCreationForm.get('iCprice').errors && (irfCreationForm.get('iCprice').touched || irfCreationForm.get('iCprice').dirty)" class="invalid-form">
                                                    <small class="form-text text-danger">This field is required !</small>
                                                  </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- Row 4 -->
                        <div class="row border-bottom-dc d-flex justify-content-between px-1">
                            <div>
                                <p>Activity Type</p>
                            </div>
                            <div class="mx-1">
                                <div class="custom-control custom-checkbox">
                                    <input formControlName="activityTypeSurvey" class="custom-control-input"
                                        type="checkbox" id="customCheckbox1" value="option1">
                                    <label for="customCheckbox1" class="custom-control-label pl-1">Survey
                                    </label>
                                </div>
                            </div>
                            <div class="mx-1">
                                <div class="custom-control custom-checkbox">
                                    <input formControlName="activityTypeInstallation" class="custom-control-input"
                                        type="checkbox" id="customCheckbox2" value="option1">
                                    <label for="customCheckbox2" class="custom-control-label px-1">Installation
                                    </label>
                                </div>
                            </div>
                            <div class="mx-1">
                                <div class="custom-control custom-checkbox">
                                    <input formControlName="activityTypeCommisioning" class="custom-control-input"
                                        type="checkbox" id="customCheckbox3" value="option1">
                                    <label for="customCheckbox3" class="custom-control-label px-1">Commissioning
                                    </label>
                                </div>
                            </div>
                            <div class="mx-1">
                                <div class="form-group row d-flex justify-content-between">
                                    <div class="mx-1">
                                        <div class="custom-control custom-checkbox">
                                            <input (click)="toggleVisit()" formControlName="activityOtherVisit"
                                                class="custom-control-input" type="checkbox" id="customCheckbox5"
                                                value="option5">
                                            <label for="customCheckbox5" class="custom-control-label">Other
                                                Visit (Please Specify)
                                            </label>
                                        </div>
                                    </div>

                                    <div *ngIf="isVisit" class="mx-1">
                                        <input type="text" formControlName="otherVisit"
                                            class="form-control form-control-sm" placeholder="Other Viste">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Row 5 -->
                        <div class="row ">
                            <div class="col-12">
                                <div class="card">
                                    <div class="table-responsive">
                                        <table *ngIf="isHeading" class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-nowrap th123 blue-clr">Work Description
                                                    </th>
                                                    <th scope="col" class="text-nowrap th123 blue-clr"> Exicom Scope
                                                    </th>
                                                    <th scope="col" class="text-nowrap th123 blue-clr"> Customer Scope
                                                    </th>
                                                    <th scope="col" class="text-nowrap th123 blue-clr"> Specification /
                                                        Make /
                                                        Model</th>
                                                    <th scope="col" class="text-nowrap th123 blue-clr"> Max. No. Of Er.
                                                        Visits
                                                    </th>
                                                    <th scope="col" class="text-nowrap th123 blue-clr"> Extra Charge/
                                                        Visit
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="trForm">
                                                <tr *ngFor="let itemrow of accessTrFormArray.controls; let i=index;"
                                                    [formGroupName]="i" class="bm-tr">
                                                    <td class="bd-top">
                                                        {{accessTrFormArray.controls[i].get('label')?.value}}</td>
                                                    <td class="bd-top">
                                                        <div class="custom-control custom-checkbox ">
                                                            <input formControlName="exicomScope"
                                                                class="custom-control-input" type="checkbox"
                                                                id="{{'survey-exicon'+i}}">
                                                            <label [attr.for]="'survey-exicon'+i"
                                                                class="custom-control-label">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="bd-top">
                                                        <div class="custom-control custom-checkbox">
                                                            <input formControlName="customerScope"
                                                                class="custom-control-input" type="checkbox"
                                                                [id]="'survey-custom'+i" value="option1a">
                                                            <label [attr.for]="'survey-custom'+i"
                                                                class="custom-control-label ">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="bd-top">
                                                        <div *ngIf="!accessTrFormArray.controls[i].get('specification')?.disabled"
                                                            class="form-group mb-0">
                                                            <input formControlName="specification" type="name"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>
                                                    </td>
                                                    <td class="bd-top">
                                                        <div *ngIf="!accessTrFormArray.controls[i].get('maxNoOfVisit')?.disabled"
                                                            class="form-group mb-0">
                                                            <input formControlName="maxNoOfVisit" (keypress)="onlyNumber($event)" type="name"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>
                                                    </td>
                                                    <td class="bd-top">
                                                        <div *ngIf="!accessTrFormArray.controls[i].get('extraCharge')?.disabled"
                                                            class="form-group mb-0">
                                                            <input formControlName="extraCharge" (keypress)="onlyNumber($event)" type="name"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <!-- <button type="submit" [disabled]="irfCreationForm.invalid" value="SaveasDraft"
                                class="btn btn-primary mx-1">Save as Draft</button> -->
                            <button type="submit" [disabled]="irfCreationForm.invalid" value="Submit"
                                class="btn btn-primary mx-1">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>