.bd-top{
    border-top: none !important;
    padding-bottom: 1px !important;
    margin-bottom: 1px !important;
}
.th123{
    background-color: #fff !important;
    border-bottom: none !important;
    border-top: none !important;
}

.dateStyle{
  width: "1px";
}