<div class="content-wrapper container-xxl p-0">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body">
        <section class="users-list-wrapper">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="irfCreationForm" (ngSubmit)="submit()">
                        <!--Row 1 -->
                        <div class="row hd-mgr12">
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <label for="name">SO Order Number </label>
                                    <input id="SONumber" type="name" formControlName="salesOrderNo" class="form-control"
                                        placeholder="Sales Order Number">

                                </div>
                            </div>
                            <!-- <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <label for="password"> Request Raised by</label>
                                    <input type="text" formControlName="ownerName"
                                        class="form-control form-control-sm" placeholder="Raised By">

                                </div>
                                <div class="form-group">
                                    <label for="requestRaisedBy">Request Raised by:</label>
                                    <select 
                                    [style]="{height:'2.714rem'}"  id="oid" formControlName="ownerName" class="form-control">
                                        <option value="">Select</option>
                                        <option *ngFor="let owner of requestRaisedByIdMap" [value]="owner.contactId" >{{owner.fullName}}</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <label for="name">Date of Assignment </label>
                                    <p-calendar 
                                    [style]="{height:'2.714rem',width:'100%'}" formControlName="dateOfAssignment" ngDefaultControl [class.is-invalid]="irfCreationForm.get('dateOfAssignment')
                                        .errors && (irfCreationForm.get('dateOfAssignment').touched || irfCreationForm.get('dateOfAssignment')
                                        .dirty)" dateFormat="dd-mm-yy"></p-calendar>
                                    <span
                                        *ngIf="irfCreationForm.get('dateOfAssignment').errors && (irfCreationForm.get('dateOfAssignment').touched || irfCreationForm.get('dateOfAssignment').dirty)"
                                        class="invalid-form">
                                        <small class="form-text text-danger">This field is required !</small>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <label for="name">Tentative Plan Date</label>
                                    <p-calendar 
                                    [style]="{height:'2.714rem',width:'100%'}" formControlName="tentativePlanDate" ngDefaultControl  [class.is-invalid]="irfCreationForm.get('tentativePlanDate')
                                        .errors && (irfCreationForm.get('tentativePlanDate').touched || irfCreationForm.get('tentativePlanDate')
                                        .dirty)" dateFormat="dd-mm-yy"></p-calendar>
                                    <span
                                        *ngIf="irfCreationForm.get('tentativePlanDate').errors && (irfCreationForm.get('tentativePlanDate').touched || irfCreationForm.get('tentativePlanDate').dirty)"
                                        class="invalid-form">
                                        <small class="form-text text-danger">This field is required !</small>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <label for="circleId">Circle:</label>
                                    <select 
                                    [style]="{height:'2.714rem'}" id="cid" formControlName="circleId" class="form-control">
                                        <option value="">Select Circle</option>
                                        <option *ngFor="let circle of circleMap" [value]="circle.id" >{{circle.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                       
               
                        <!-- Row2 -->
                        <div class="row">
                            <div class="col-md-12 ">
                                <h5 class="card-titleb blue-clr border-bottom-dc">Purchase Order Details
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <label for="name">Client

                                    </label>
                                    <input type="name" formControlName="AccountName" [class.is-invalid]="irfCreationForm.get('AccountName')
                                    .errors && (irfCreationForm.get('AccountName').touched || irfCreationForm.get('AccountName')
                                    .dirty)" class="form-control form-control-sm" placeholder="Please Enter">
                                    <span
                                        *ngIf="irfCreationForm.get('AccountName').errors && (irfCreationForm.get('AccountName').touched || irfCreationForm.get('AccountName').dirty)"
                                        class="invalid-form">
                                        <small class="form-text text-danger">This field is required !</small>
                                    </span>
                                </div>
                            </div>
                       
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <label for="pONoAndDate">PO No. & Date
                                    </label>
                                    <input type="name" formControlName="pONoAndDate"
                                        class="form-control form-control-sm" placeholder="">
                                    </div>
                            </div>
                            
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <label for="contactPersonName">Contact Person Name
                                    </label>
                                    <input  id= "contactPersonNameIP" type="name" formControlName="contactPersonName"
                                        class="form-control form-control-sm" placeholder="Please Enter">
                                    </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <label for="contactPersonPhone">Contact Person Phone
                                    </label>
                                    <input  id= "contactPersonPhoneIP" type="name"  maxlength="10" formControlName="contactPersonName"
                                        class="form-control form-control-sm" placeholder="Please Enter">
                                    </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <label for="contactPersonEmail">Contact Person Email
                                    </label>
                                    <input  id= "contactPersonEmailIP"  type="name" formControlName="contactPersonName"
                                        class="form-control form-control-sm" placeholder="Please Enter">
                                    </div>
                            </div>

                          
                        </div>


                        <!-- Row 3 -->
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="card-titleb blue-clr border-bottom-dc">Charger Details</h5>
                            </div>
                               
                                    <div class="col-lg-4 col-sm-4">
                                        <!-- <div class="form-group">
                                            <label for="name">Type of Charger
                                            </label>
                                            <input id="typeOfCharger" type="name"
                                            class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                             
                                        </div> -->
                                        <div class="form-group">
                                            <label for="basicSelect">Type of Charger</label>
                                            <select id="typeOfCharger" class="form-control form-control-sm" type="text"
                                                >
                                                <option selected>Select Menu</option>
                                                <option value="1"> AC001</option>
                                                <option value="2"> DC Charger</option>
                                                <option value="3"> Type 2 EV Charger</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label for="password">Rating of Charger
                                            </label>
                                            <input type="fdf" id="ratingOfCharger"
                                            class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                                
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label for="password">Quantity</label>
                                            <input type="fdf" id="quantity" 
                                            class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                               
                                        </div>
                                    </div>
                               
                           
                            
                                <div class="col-lg-12 col-sm-12">
                                <h5 class="card-titleb blue-clr border-bottom-dc">I & C PO Details</h5>
                                </div>
                                    <div class="col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label for="password">
                                                I & C PO Status
                                            </label>
                                            <input type="fdf" id="iCpoStatus" 
                                            class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                               
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label for="password">
                                                I & C PO
                                            </label>
                                            <input type="fdf" id="iCpo"
                                             class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                              
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label for="password">
                                                I&C Price</label>
                                            <input type="fdf" id="iCprice"
                                             class="form-control form-control-sm"
                                                placeholder="Please Enter">
                                               
                                        </div>
                                    </div>
                              
                            
                        </div>
                        <!-- Row 4 -->
                        <div class="row border-bottom-dc d-flex justify-content-between px-1">
                            <div>
                                <p>Activity Type</p>
                            </div>
                            <!-- <div class="mx-1">
                                <div class="custom-control custom-checkbox">
                                    <input formControlName="activityTypeSurvey" class="custom-control-input"
                                        type="checkbox" id="customCheckbox1" value="option1">
                                    <label for="customCheckbox1" class="custom-control-label pl-1">Survey
                                    </label>
                                </div>
                            </div> -->
                            <div class="mx-1">
                                <div class="custom-control custom-checkbox">
                                    <input formControlName="activityTypeInstallation" class="custom-control-input"
                                        type="checkbox" id="customCheckbox2" value="option1">
                                    <label for="customCheckbox2" class="custom-control-label px-1">Installation
                                    </label>
                                </div>
                            </div>
                            <div class="mx-1">
                                <div class="custom-control custom-checkbox">
                                    <input formControlName="activityTypeCommisioning" class="custom-control-input"
                                        type="checkbox" id="customCheckbox3" value="option1">
                                    <label for="customCheckbox3" class="custom-control-label px-1">Commissioning
                                    </label>
                                </div>
                            </div>
                            <!-- <div class="mx-1">
                                <div class="form-group row d-flex justify-content-between">
                                    <div class="mx-1">
                                        <div class="custom-control custom-checkbox">
                                            <input (click)="toggleVisit()" formControlName="activityOtherVisit"
                                                class="custom-control-input" type="checkbox" id="customCheckbox5"
                                                value="option5">
                                            <label for="customCheckbox5" class="custom-control-label">Other
                                                Visit (Please Specify)
                                            </label>
                                        </div>
                                    </div>

                                    <div *ngIf="isVisit" class="mx-1">
                                        <input type="text" formControlName="otherVisit"
                                            class="form-control form-control-sm" placeholder="Other Viste">
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <!-- Row 5 -->
                        <div class="row ">
                            <div class="col-12">
                                <div class="card">
                                    <div class="table-responsive">
                                        <table *ngIf="isHeading" class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-nowrap th123 blue-clr">Work Description
                                                    </th>
                                                    <th scope="col" class="text-nowrap th123 blue-clr"> Exicom Scope
                                                    </th>
                                                    <th scope="col" class="text-nowrap th123 blue-clr"> Customer Scope
                                                    </th>
                                                    <th scope="col" class="text-nowrap th123 blue-clr"> Specification /
                                                        Make /
                                                        Model</th>
                                                    <th scope="col" class="text-nowrap th123 blue-clr"> Max. No. Of Er.
                                                        Visits
                                                    </th>
                                                    <th scope="col" class="text-nowrap th123 blue-clr"> Extra Charge/
                                                        Visit
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="trForm">
                                                <tr *ngFor="let itemrow of accessTrFormArray.controls; let i=index;"
                                                    [formGroupName]="i" class="bm-tr">
                                                    <td class="bd-top">
                                                        {{accessTrFormArray.controls[i].get('label')?.value}}</td>
                                                    <td class="bd-top">
                                                        <div class="custom-control custom-checkbox ">
                                                            <input formControlName="exicomScope"
                                                                class="custom-control-input" type="checkbox"
                                                                id="{{'survey-exicon'+i}}">
                                                            <label [attr.for]="'survey-exicon'+i"
                                                                class="custom-control-label">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="bd-top">
                                                        <div class="custom-control custom-checkbox">
                                                            <input formControlName="customerScope"
                                                                class="custom-control-input" type="checkbox"
                                                                [id]="'survey-custom'+i" value="option1a">
                                                            <label [attr.for]="'survey-custom'+i"
                                                                class="custom-control-label ">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td *ngIf="!hideAll"  class="bd-top">
                                                        <div 
                                                            class="form-group mb-0">
                                                            <input formControlName="specification" type="name"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>
                                                    </td>
                                                    <td *ngIf="!hideAll"  class="bd-top">
                                                        <div 
                                                            class="form-group mb-0">
                                                            <input formControlName="maxNoOfVisit" (keypress)="onlyNumber($event)" type="name"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>
                                                    </td>
                                                    <td *ngIf="!hideAll"  class="bd-top">
                                                        <div 
                                                            class="form-group mb-0">
                                                            <input formControlName="extraCharge" (keypress)="onlyNumber($event)" type="name"
                                                                class="form-control form-control-sm" placeholder="">
                                                        </div>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <!-- <button type="submit" [disabled]="irfCreationForm.invalid" value="SaveasDraft"
                                class="btn btn-primary mx-1">Save as Draft</button> -->
                            <button type="submit" value="Submit"
                                class="btn btn-primary mx-1">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>